@if (data$ | async; as data) {
  @if (playclock$ | async; as playclock) {
    @if (gameclock$ | async; as gameclock) {
      <!--      {{ data.id }}-->
      <!--      {{ playclock?.playclock_status }}-->
      <!--      {{ gameclock?.gameclock }}-->
      <!--SCOREBOARD ADMIN-->
      <app-scoreboard-display-flat
        [scoreboardDisplayClass]="'scoreboard'"
        [tournament]="tournament$ | async"
        [tournamentSponsor]="mainTournamentSponsor$ | async"
        [gameClock]="gameclock?.gameclock!"
        [data]="data"
        [playClock]="playclock?.playclock!"
      ></app-scoreboard-display-flat>
      <app-all-admin-forms
        [gameclock]="gameclock"
        [playclock]="playclock"
        [data]="data">
      </app-all-admin-forms>
    }
  }
} @else {
  <tui-loader></tui-loader>
}
