<div class="input-number-with-buttons">
  <tui-input-number
    [tuiTextfieldSize]="'l'"
    class="input-number"
    [formControl]="control"
    [tuiTextfieldCleaner]="true"
    [min]="min"
    [max]="max"
  >
    {{ label | uppercase }}
    <input
      name="event number"
      tuiTextfield
    />
  </tui-input-number>
  <button
    appearance="icon"
    icon="tuiIconPlus"
    tuiIconButton
    class="increment-button"
    [size]="'xs'"
    (click)="incrementEventNumber(1)"
    [disabled]="control.disabled || isMaxValue()"
  >+
  </button>
  <button
    appearance="icon"
    icon="tuiIconMinus"
    tuiIconButton
    class="decrement-button"
    [size]="'xs'"
    (click)="incrementEventNumber(-1)"
    [disabled]="control.disabled || isMinValue()"
  >-
  </button>
</div>


