@if (sport$ | async; as sport) {
  <div class="sport content__title">
    <h3 class="tui-text_h3">{{ sport.title | uppercase }}</h3>
  </div>
}

@if (allPlayersInSport$ | async; as players) {
  <div class="tournament content__body">
    <div class="one_col_container">
      <div class="tournament content__body__title__flex">
        <h2>LIST OF PLAYERS</h2>
        <app-edit-button
          [action]="'add'"
          [item]="'Player'"
          [dialogId]="'addDialog'"
        ></app-edit-button>
        @if (allPersons$ | async; as persons) {
          @if (sport$ | async; as sport) {
            <app-add-edit-player
              [action]="'add'"
              [dialogId]="'addDialog'"
              [allPersons]="persons"
              [allSportPlayersWithPerson]="players"
              [sportId]="sport.id!"
            ></app-add-edit-player>
          }
        }
      </div>

      <div class="list-of-items-with-data">
        @for (p of players; track p.player.id) {
          <div class="item-with-data-island">
            <a
              [href]="playerItemHref(p.player)"
              rel="noreferrer"
              target="_self"
              tuiIsland
              textAlign="center"
              [hoverable]="true"
            >
              <div class="tui-island__content">
                <figure class="tui-island__figure">
                  <div class="some-figure">
                    <tui-avatar
                      size="l"
                      text="{{p.person?.first_name}}"
                      class="tui-space_top-1"
                      [rounded]="false"
                      [avatarUrl]="backendUrl + p.person?.person_photo_url || null"
                    ></tui-avatar>
                  </div>
                </figure>
                <div>
                  <h3 class="tui-island__title">
                    {{ p.person?.first_name | titlecase }} {{ p.person?.second_name | titlecase }}
                  </h3>
                  <p class="tui-island__paragraph">
                  </p>
                </div>
              </div>
            </a>
          </div>
        } @empty {
          No Items Found
        }
      </div>

    </div>
  </div>
}
