<ng-template
  let-observer
  [tuiDialogOptions]="{label: action.toUpperCase() + ' TOURNAMENT', size: 'm'}"
  [(tuiDialog)]="open"
>
  <form
    [formGroup]="tournamentForm"
    (ngSubmit)="onSubmit(); observer.complete()"
  >
    <p></p>
    <div class="tui-form__row">
      <tui-input
        formControlName="tournamentTitle"
      >
        Tournament Title
        <span class="tui-required"></span>
      </tui-input>
      <tui-error
        formControlName="tournamentTitle"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    <div class="tui-form__row">
      <tui-textarea
        formControlName="tournamentDescription"
      >
        Tournament Description
      </tui-textarea>
      <tui-error
        formControlName="tournamentDescription"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__row">
      <tui-input-files
        accept="image/*"
        [formControl]="tournamentLogoForm"
        (reject)="onReject($event)"
        [maxFileSize]="30 * 1000 * 1000"
        label="Tournament Logo"
      ></tui-input-files>

      <tui-files>
        <tui-file
          *ngIf="loadedFiles$ | async as file"
          [file]="file"
          [showDelete]="tournamentLogoForm.enabled"
          (removed)="removeFile()"
        ></tui-file>

        <tui-file
          *ngIf="rejectedFiles$ | async as file"
          state="error"
          [file]="file"
          [showDelete]="tournamentLogoForm.enabled"
          (removed)="clearRejected()"
        ></tui-file>

        <tui-file
          *ngIf="loadingFiles$ | async as file"
          state="loading"
          [file]="file"
          [showDelete]="tournamentLogoForm.enabled"
        ></tui-file>
      </tui-files>

      <!--      <tui-avatar-->
      <!--        *ngIf="tournamentForm.controls['tournamentLogoUrl'].value"-->
      <!--        size="l"-->
      <!--        text="uploaded logo"-->
      <!--        class="tui-space_top-1"-->
      <!--        [rounded]="false"-->
      <!--        [avatarUrl]="backendUrl + tournamentForm.controls['tournamentLogoUrl'].value || null"-->
      <!--      ></tui-avatar>-->

      <img
        *ngIf="tournamentForm.controls['tournamentLogoUrl'].value"
        [src]="backendUrl + tournamentForm.controls['tournamentLogoUrl'].value"
        alt="Uploaded Tournament Logo"
        height="100px"
      >


      <tui-error
        formControlName="tournamentLogoUrl"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    @if (allSponsors) {
      <app-select-from-list
        [itemsList]="allSponsors"
        [title]="'Main Sponsor'"
        [formField]="tournamentForm.controls['tournamentMainSponsor']"
        [avatarProperty]="'logo_url'"
        [stringifyFn]="stringifyTitle"
        [nullable]="true"
      ></app-select-from-list>
    }

    @if (allSponsorLines) {
      <app-select-from-list
        [itemsList]="allSponsorLines"
        [title]="'Sponsor Line'"
        [formField]="tournamentForm.controls['tournamentSponsorLine']"
        [stringifyFn]="stringifyTitle"
        [nullable]="true"
      ></app-select-from-list>
    }

    <p>
      <app-create-button-in-form
        [action]="action"
        [disabled]="!tournamentForm.valid"
      ></app-create-button-in-form>
      <app-cancel-button-in-form
        (click)="observer.complete()"
      ></app-cancel-button-in-form>
    </p>
  </form>
</ng-template>
