<button
  appearance="create"
  size="m"
  tuiButton
  type="button"
  (click)="showDialog()"
>
  NEW TOURNAMENT
</button>
<ng-template
  let-observer
  [tuiDialogOptions]="{label: 'Add New tournament', size: 'm'}"
  [(tuiDialog)]="open"
>
  <form
    [formGroup]="tournamentForm"
    (ngSubmit)="onSubmit(); observer.complete()"
  >
    <p></p>
    <div class="tui-form__row">
      <tui-input
        formControlName="tournamentTitle"
        tuiAutoFocus
      >
        Tournament Title

        <span class="tui-required"></span>
      </tui-input>
      <tui-error
        formControlName="tournamentTitle"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    <div class="tui-form__row">
      <tui-textarea
        formControlName="tournamentDescription"
      >
        Tournament Description
      </tui-textarea>
      <tui-error
        formControlName="tournamentDescription"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <p>
      <app-create-button-in-form
        [action]="'add'"
        [disabled]="!tournamentForm.valid"
      ></app-create-button-in-form>
      <button
        appearance="secondary"
        tuiButton
        type="button"
        style="padding: 10px"
        (click)="observer.complete()"
      >
        CANCEL
      </button>
    </p>
  </form>
</ng-template>
