<div class="main-container">
  <div class="admin-row-container">
    <!--SHOW/HIDE ALL-->

    <button
      appearance="icon"
      tuiButton
      size="m"
      type="button"
      (click)="toggleAllFormsVisibility()"
      [icon]="(showHideAllButtonVisible$ | async) ? 'tuiIconEyeOff' : 'tuiIconEye'"
    >
      {{ (showHideAllButtonVisible$ | async) ? 'Hide' : 'Show' }} All
    </button>

  </div>


  <app-score-forms
    [data]="data"
    [scoreInputsVisible$]="scoreInputsVisible$"
    [scoreButtonsVisible$]="scoreButtonsVisible$"
    [disabled]="(isMatchDataLoading$ | async)! || (isMatchDataSubmitting$ | async)!"
  ></app-score-forms>

  <app-qtr-forms
    [data]="data"
    [qtrFormsVisible$]="qtrFormVisible$"
    [disabled]="(isMatchDataLoading$ | async)! || (isMatchDataSubmitting$ | async)!"
  ></app-qtr-forms>

  <app-down-distance-forms
    [data]="data"
    [downAndDistanceFormVisible$]="downAndDistanceFormVisible$"
    [disabled]="(isMatchDataLoading$ | async)! || (isMatchDataSubmitting$ | async)!"
  ></app-down-distance-forms>

  <app-timeout-forms
    [data]="data"
    [timeoutBtnsVisible$]="timeoutBtnsVisible$"
    [disabled]="(isMatchDataLoading$ | async)! || (isMatchDataSubmitting$ | async)!"
  ></app-timeout-forms>

  <app-time-forms
    [data]="data"
    [timeFormsVisible$]="timeFormsVisible$"
    [disabled]="(isMatchDataLoading$ | async)! || (isMatchDataSubmitting$ | async)!"
  ></app-time-forms>

  <app-change-teams-forms
    [data]="data"
    [changeTeamsFormsVisible$]="changeTeamsFormsVisible$"
    [disabled]="(isMatchDataLoading$ | async)! || (isMatchDataSubmitting$ | async)!"
  ></app-change-teams-forms>

  <app-scoreboard-data-forms
    [data]="data"
    [changeScoreBoardFormsVisible$]="changeScoreBoardFormsVisible$"
    [disabled]="(isMatchDataLoading$ | async)! || (isMatchDataSubmitting$ | async)!"
  ></app-scoreboard-data-forms>

</div>
