@if (data) {
  <div class="fullhd-scoreboard">
    <div [class]="scoreboardDisplayClass">
      <div class="teams-container">
        <div
          class="team_a-detail"
          [style]="{'background-color': data.scoreboard_data?.team_a_game_color}">

          <div class="team_a-name">
              <span [style.font-size]="teamAFontSize">
                {{
                  data.scoreboard_data?.use_team_a_game_title ?
                    data.scoreboard_data?.team_a_game_title :
                    data.teams_data?.team_a?.title
                }}
              </span>
          </div>

          <div class="team_a-logo">
            <img
              src="{{staticUrl}}{{
              data.scoreboard_data?.use_team_a_game_logo ?
              data.scoreboard_data?.team_a_game_logo :
              data.teams_data?.team_a?.team_logo_url}}"
              width="50"
              height="50"
              (error)="onImgError($event)"
            >
          </div>
          <div class="team-scoreblock">
            <span>{{ data.match_data?.score_team_a }}</span>
          </div>
          <div class="team_a-thisgame">
            <div class="team-timeout">
              <span>{{ data.match_data?.timeout_team_a }}</span>
            </div>
          </div>
        </div>
        <div
          class="team_b-detail"
          [style]="{'background-color': data.scoreboard_data?.team_b_game_color}"
        >
          <div class="team_b-name">
            <span [style.font-size]="teamBFontSize">
              {{
                data.scoreboard_data?.use_team_b_game_title ?
                  data.scoreboard_data?.team_b_game_title :
                  data.teams_data?.team_b?.title
              }}
            </span>
          </div>
          <div class="team_b-logo">
            <img
              src="{{staticUrl}}{{
              data.scoreboard_data?.use_team_b_game_logo ?
              data.scoreboard_data?.team_b_game_logo :
              data.teams_data?.team_b?.team_logo_url}}"
              width="50"
              height="50"
              (error)="onImgError($event)"
            >
          </div>
          <div class="team-scoreblock">
            <span>{{ data.match_data?.score_team_b }}</span>
          </div>
          <div class="team_b-thisgame">
            <div class="team-timeout">
              <span>{{ data.match_data?.timeout_team_b }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="game-container">
        <div
          *ngIf="data.scoreboard_data?.is_qtr"
          class="quarter">
          <span>{{ data.match_data?.qtr }}</span>
        </div>

        <div
          *ngIf="data.scoreboard_data?.is_time"
          class="timeleft"
        >
          <span>{{ getMinutes(gameClock) }}</span>
          <span class="clock-separator">:</span>
          <span>{{ getSeconds(gameClock) }}</span>
        </div>

        <div
          *ngIf="data.scoreboard_data?.is_playclock"
          class="play-clock"
        >
          <span>{{ playClock }}</span>
        </div>

        <div
          *ngIf="data.scoreboard_data?.is_downdistance"
          class="downandyard"
        >
          <span id="downdist">
            {{ data.match_data?.down }}{{ data.match_data?.down ? ' & ' : '' }}{{ data.match_data?.distance }}
          </span>
        </div>

      </div>
    </div>
  </div>
} @else {
  NO DATA
}
