<div class="start-roster-line">
  @if (selectedRB['rbOne']) {
    <div class="startRB">
      <app-player-card-roster
        [player]="selectedRB['rbOne']"
      ></app-player-card-roster>
    </div>
  }
  @if (selectedRB['rbTwo']) {
    <div class="startRB">
      <app-player-card-roster
        [player]="selectedRB['rbTwo']"
      ></app-player-card-roster>
    </div>
  }
  @if (selectedRB['rbThree']) {
    <div class="startRB">
      <app-player-card-roster
        [player]="selectedRB['rbThree']"
      ></app-player-card-roster>
    </div>
  }
</div>
