<!--SCOREBOARD DATA-->
<div
  *ngIf="changeScoreBoardFormsVisible$ | async"
  class="scoreboard-settings"
>
  <div id="scoreboard-settings-btns" class="scoreboard-settings-btns">
    <app-admin-down-button
      [down]="data.scoreboard_data?.is_qtr ? 'Hide' : 'Show'"
      [distance]="'Qtr Field'"
      (click)="toggleQuarterVisibility(data.scoreboard_data!)"
    ></app-admin-down-button>

    <app-admin-down-button
      [down]="data.scoreboard_data?.is_time ? 'Hide' : 'Show'"
      [distance]="'Game Time Field'"
      (click)="toggleGameClockVisibility(data.scoreboard_data!)"
    ></app-admin-down-button>

    <app-admin-down-button
      [down]="data.scoreboard_data?.is_playclock ? 'Hide' : 'Show'"
      [distance]="'Play Clock'"
      (click)="togglePlayClockVisibility(data.scoreboard_data!)"
    ></app-admin-down-button>

    <app-admin-down-button
      [down]="data.scoreboard_data?.is_downdistance ? 'Hide' : 'Show'"
      [distance]="'Down&amp;Distance Field'"
      (click)="toggleDownAndDistanceVisibility(data.scoreboard_data!)"
    ></app-admin-down-button>

  </div>
  <div id="scoreboard-teams-colors" class="scoreboard-teams-colors">
    <div id="team-a-color-settings" class="team-a-color-settings">
      <label class="color-team-a-label" for="team-a-color">Home Team Color:</label>
      <input
        id="team-a-color"
        class="team-color-picker"
        type="color"
        [value]="data.scoreboard_data?.team_a_color"
        #TeamAColor
      >
      <app-admin-submit-button
        (click)="updateTeamColor('a', TeamAColor.value)(data.scoreboard_data!)"
      ></app-admin-submit-button>

    </div>
    <div id="team-b-color-settings" class="team-b-color-settings">
      <label class="color-team-b-label" for="team-b-color">Away Team Color:</label>
      <input
        id="team-b-color"
        class="team-color-picker"
        type="color"
        [value]="data.scoreboard_data?.team_b_color"
        #TeamBColor
      >
      <app-admin-submit-button
        (click)="updateTeamColor('b', TeamBColor.value)(data.scoreboard_data!)"
      ></app-admin-submit-button>

    </div>
  </div>
</div>
<app-toggle-visible-button
  [isVisible$]="changeScoreBoardFormsVisible$"
  [formName]="'changeScoreBoardForms'"
  [buttonText]="'ScoreBoard Forms'">
</app-toggle-visible-button>
