<div class="input-number-with-buttons">
  <tui-input-number
    [tuiTextfieldSize]="'m'"
    class="input-number"
    [formControl]="control"
    [tuiTextfieldCleaner]="cleaner"
    [min]="min"
    [max]="max"
  >
    {{ label | uppercase }}
    <input
      name="{{ label }}"
      tuiTextfieldLegacy
    />
  </tui-input-number>
  <button
    appearance="icon"
    iconStart="@tui.circle-plus"
    tuiIconButton
    class="increment-button"
    [size]="'s'"
    [disabled]="isMaxValue() && !isCycle"
    (click)="increment()"
  >
  </button>
  <button
    appearance="icon"
    iconStart="@tui.circle-minus"
    tuiIconButton
    class="decrement-button"
    [size]="'s'"
    [disabled]="isMinValue() && !isCycle"
    (click)="decrement()"
  >
  </button>
</div>
