<div class="list-of-items-with-data">
  @for (item of data; track item.id) {
    @if (item) {
      <div class="item-with-data-island">
        <button
          tuiCardLarge
          tuiCell
          tuiSurface="floating"
          type="button"
          (click)="navigate(item)"
          style="width: 100%"
        >
          <tui-avatar
            appearance="primary"
            [src]="backendUrl + item[avatarUrl]"
          />
          <div tuiTitle>
            @if (titleProperty != "none") {
              {{ getTitleCase(item, titleProperty) | titlecase }}
            } @else if (
              item[titlePropertyFirst] != "none" &&
              item[titlePropertySecond] != "none"
            ) {
              {{ getTitleCase(item, titlePropertyFirst) | titlecase }}
              {{ getTitleCase(item, titlePropertySecond) | titlecase }}
            } @else {
              No Title
            }
            @if (item[paragraphProperty]) {
              <div tuiSubtitle>
                {{ item[paragraphProperty] }}
              </div>
            }
          </div>
        </button>
      </div>
    } @else {
      <tui-loader />
    }
  } @empty {
    <tui-loader />
  }
</div>
