@if (this.sport$ | async; as sport) {
  <div class="sport content__title">
    <h3 class="tui-text_h3">{{ sport.title | uppercase }}</h3>
  </div>
  <div class="sport content__body">
    <div class="one_col_container">
      <div class="sport content__body__title__flex">
        <app-body-title
          titleMany='tournaments'
        ></app-body-title>
        <app-create-button
          [title]="'tournament'"
        ></app-create-button>

        <app-sport-with-season-dropdown
          [sportId]="sport.id"
        ></app-sport-with-season-dropdown>
      </div>
      <div class="sport content__body__title">

        <h4>YEAR {{ this.year }}</h4>
      </div>
      <hr>
      @if (tournaments$ | async) {
        <app-pagination-with-items-per-page
          [items$]="tournaments$"
        ></app-pagination-with-items-per-page>

        <app-form-search-text
          [data$]="tournaments$"
          [searchTitle]="'tournament title'"
          [parameter]="'title'"
        ></app-form-search-text>

        <app-list-of-items-island
          [data$]="paginationService.paginatedItems$"
          [formatPath]="tournamentItemHref"
          [titleProperty]="islandTitleProperty"
        ></app-list-of-items-island>
      } @else {
        <tui-loader [inheritColor]="true"></tui-loader>
      }
    </div>
  </div>

} @else {
  <h3 class="tui-text_h3">
    <tui-loader [inheritColor]="true"></tui-loader>
  </h3>
}
