<div class="sport container">
  <div class="sport content">
    <div class="sport content__title">
      @if(this.sport$ | async; as sport) {
        <h3 class="tui-text_h3">{{sport.title | uppercase}}</h3>
      } @else {
        <h3 class="tui-text_h3">
          <tui-loader [inheritColor]="true"></tui-loader>
        </h3>
      }
    </div>
    <div class="sport content__body">
      <div class="one_col_container">
        <div class="sport content__body__title">
          <h3>LIST OF TOURNAMENTS</h3>
        </div>
        <div class="sport content__body__title">
          <h4>YEAR {{ this.year }}</h4>
        </div>
        <hr>
        @if(items$ | async;) {
          <app-form-search-text
              [data$]="items$"
              [searchTitle]="'tournament title'"
              [parameter]="'title'"
          ></app-form-search-text>
          <app-list-of-items-island
              [data$]="items$"
              [formatPath]="seasonHref"
              [titleProperty]="islandTitleProperty"
          ></app-list-of-items-island>
        }
      </div>
    </div>
  </div>
  <aside>
    <h4>ASIDE MENU</h4>
    <hr>
    <div class="block__fullwidth_center" style="display: block">
      <app-dropdownmenu
        [title]="'Select Season'"
        [dataList]="seasons$"
        [mapItemToLabel]="mapItemToLabelYear"
        [mapItemToRoute]="seasonSportRoute"
        [arrow]="arrow"
        [emptyMessage]="'Items Not Found'">
      </app-dropdownmenu>
    </div>
    <a
      appearance="create"
      href=""
      tuiButton
      type="button"
      class="btn__create"
    >
      Create Tournament
    </a>

  </aside>
</div>
