@if (data) {
  <div
    *ngIf="rosterFormsVisible$ | async"
    xmlns="http://www.w3.org/1999/html"
    class="roster-forms"
  >
    <div class="roster-forms-btns">
      <app-admin-down-button
        [down]="data.scoreboard_data?.is_team_a_start_offense ? 'Hide' : 'Show'"
        [distance]="'HOME OFFENSE'"
        (click)="toggleShowHomeOffenseRosterVisibility(data.scoreboard_data!)"
      ></app-admin-down-button>
    </div>

    <div class="roster-forms-btns">
      <app-admin-down-button
        [down]="data.scoreboard_data?.is_team_b_start_offense ? 'Hide' : 'Show'"
        [distance]="'AWAY OFFENSE'"
        (click)="toggleShowAwayOffenseRosterVisibility(data.scoreboard_data!)"
      ></app-admin-down-button>
    </div>

    <div class="roster-forms-btns">
      <app-admin-down-button
        [down]="data.scoreboard_data?.is_team_a_start_defense ? 'Hide' : 'Show'"
        [distance]="'HOME DEFENSE'"
        (click)="toggleShowHomeDefenseRosterVisibility(data.scoreboard_data!)"
      ></app-admin-down-button>
    </div>

    <div class="roster-forms-btns">
      <app-admin-down-button
        [down]="data.scoreboard_data?.is_team_b_start_defense ? 'Hide' : 'Show'"
        [distance]="'AWAY DEFENSE'"
        (click)="toggleShowAwayDefenseRosterVisibility(data.scoreboard_data!)"
      ></app-admin-down-button>
    </div>

    <div
      class="lower-btn-show"
      [style.grid-template-columns]="this.data?.scoreboard_data?.is_match_player_lower ? '20% 80%' : '1fr'"
    >
      @if (playerMatchSelected$ | async; as player) {
        @if (data.scoreboard_data?.is_match_player_lower) {
          <div
            class="on-air"
            style="padding: 10px; display: grid; justify-content: center; border-radius: 10px"
            [class]="{'blinking': data.scoreboard_data?.is_match_player_lower}"
          >ON AIR
          </div>
        }
        <div>
          <app-admin-down-button
            [down]="data.scoreboard_data?.is_match_player_lower ? 'HIDE' : 'SHOW'"
            [distance]="player.person?.first_name + ' '+ player.person?.second_name + ' lower' | uppercase"
            (click)="toggleShowMatchPlayerLowerVisibility(data.scoreboard_data!)"
          ></app-admin-down-button>
        </div>
      } @else {
        <app-admin-down-button
          [down]="data.scoreboard_data?.is_match_player_lower ? 'HIDE' : 'SHOW'"
          [distance]="'PLAYER LOWER'"
          (click)="toggleShowMatchPlayerLowerVisibility(data.scoreboard_data!)"
        ></app-admin-down-button>
      }
    </div>

    <div class="team-players-select">
      <app-select-player-lower
        [selectedPlayer]="playerMatchSelected$ | async"
        [scoreboardId]="data.scoreboard_data?.id"
        [matchPlayers]="(homePlayersInMatch$ | async) || []"
      ></app-select-player-lower>
    </div>

    <div class="team-players-select">
      <app-select-player-lower
        [selectedPlayer]="playerMatchSelected$ | async"
        [scoreboardId]="data.scoreboard_data?.id"
        [matchPlayers]="(awayPlayersInMatch$ | async) || []"
      ></app-select-player-lower>
    </div>

  </div>
  <app-toggle-visible-button
    [isVisible$]="rosterFormsVisible$"
    [formName]="'rostersForms'"
    [buttonText]="'Rosters Forms'"
  >
  </app-toggle-visible-button>
}
