.main-container-fullhd {
  display: grid;
  grid-template-columns: 1900px;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
   "roster"
   //"lower"
   "scoreboard"
   "sponsorLine";
  height: 1060px;
  align-items: start;
  justify-items: center;
  margin: 0;
}

.roster-area {
  grid-area: roster;
  position: sticky;
  top: 20px;
}

.lower-area {
  display: grid;
  grid-area: lower;
  position: sticky;
  top: 715px;
}

//.lower-home {
//  //grid-area: lower-home;
//  position: relative;
//  right: 416px;
//}

.scoreboard-area {
  grid-area: scoreboard;
  position: sticky;
  top: 860px;
  z-index: 10;
}

.sponsorLine-area {
  grid-area: sponsorLine;
  position: sticky;
  top: 950px;
}


