@if (data$ | async; as data) {
  @if (playclock$ | async; as playclock) {
    @if (gameclock$ | async; as gameclock) {
      <div class="main-container-fullhd">

        @if (data.scoreboard_data?.is_team_a_start_offense || false) {
          @if (homeFootballStartOffense$ | async; as players) {
            <div [@dissolve]="homeOffenseRosterVisibility ? 'visible' : 'invisible'" class="roster-area">
              <app-football-start-roster-display
                [scoreboardTeamColor]="data.scoreboard_data?.team_a_game_color! || '9EBE9ECC'"
                [side]="'offense'"
                [team]="homeTeam$ | async"
                [players]="players"
              ></app-football-start-roster-display>
            </div>
          }
        }
        @if (data.scoreboard_data?.is_team_b_start_offense || false) {
          @if (awayFootballStartOffense$ | async; as players) {
            <div [@dissolve]="awayOffenseRosterVisibility ? 'visible' : 'invisible'" class="roster-area">
              <app-football-start-roster-display
                [scoreboardTeamColor]="data.scoreboard_data?.team_b_game_color! || '9EBE9ECC'"
                [side]="'offense'"
                [team]="awayTeam$ | async"
                [players]="players"
              ></app-football-start-roster-display>
            </div>
          }
        }
        @if (data.scoreboard_data?.is_team_a_start_defense || false) {
          @if (homeFootballStartDefense$ | async; as players) {
            <div [@dissolve]="homeDefenseRosterVisibility ? 'visible' : 'invisible'" class="roster-area">
              <app-football-start-roster-display
                [scoreboardTeamColor]="data.scoreboard_data?.team_a_game_color! || '9EBE9ECC'"
                [side]="'defense'"
                [team]="homeTeam$ | async"
                [players]="players"
              ></app-football-start-roster-display>
            </div>
          }
        }
        @if (data.scoreboard_data?.is_team_b_start_defense || false) {
          @if (awayFootballStartDefense$ | async; as players) {
            <div [@dissolve]="awayDefenseRosterVisibility ? 'visible' : 'invisible'" class="roster-area">
              <app-football-start-roster-display
                [scoreboardTeamColor]="data.scoreboard_data?.team_b_game_color! || '9EBE9ECC'"
                [side]="'defense'"
                [team]="awayTeam$ | async"
                [players]="players"
              ></app-football-start-roster-display>
            </div>
          }
        }

        <div class="scoreboard-area">
          <app-scoreboard-display-flat
            [scoreboardDisplayClass]="'fullhd-scoreboard'"
            [tournament]="tournament$ | async"
            [tournamentSponsor]="mainTournamentSponsor$ | async"
            [data]="data"
            [playClock]="playclock.playclock!"
            [gameClock]="gameclock.gameclock!"
            [playerLowerId]="data.scoreboard_data?.player_match_lower_id"
          ></app-scoreboard-display-flat>
        </div>
        <div class="sponsorLine-area">
          <app-sponsor-display-flat
            *ngIf="data.scoreboard_data?.is_sponsor_line || false"
          ></app-sponsor-display-flat>

          <app-match-sponsor-line-display-flat
            *ngIf="data.scoreboard_data?.is_match_sponsor_line || false"
          ></app-match-sponsor-line-display-flat>
        </div>
      </div>
    }
  }
}
