.main-container-fullhd {
  //border: 5px solid #000000;
  margin: 0;

  display: grid;
  grid-template-columns: 1920px;
  grid-template-rows: 820px auto auto;
  align-items: stretch;
  justify-items: center;
}
