.change-down-distance-text-input {
  text-align: center; /* Adjust the text alignment as needed */
  //width: 100%;
}

.down-selector {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-content: center;
  justify-content: stretch;
  grid-gap: 5px;

}

.down-selector-distance {
  grid-row: span 2;
  font-size: 18px; /* Adjust the font size as needed */
  text-align: center; /* Adjust the text alignment as needed */
  width: 100%;
}

.down-and-distance {
  //border: 1px solid #000000;

  box-shadow: 0px 0px 10px 0px #232323;
  border-radius: 5px;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;

  padding: 10px;
  grid-gap: 10px;

  align-content: center;
  justify-content: stretch;
}

.change-down-distance-text {
  //border: 1px solid #000000;

  //grid-column: span 2;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;

  padding: 10px;
  grid-gap: 10px;

  align-content: center;
  justify-content: stretch;
}

.down-distance-selector {
  //border: 1px solid #000000;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;

  padding: 10px;
  grid-gap: 10px;

  align-content: center;
  justify-content: stretch;
}


.down-dist-selector-form {
  display: grid;
  grid-template-columns: auto auto;

  padding: 10px;
  grid-gap: 10px;

  align-content: center;
  justify-content: stretch;
}

.down-dist-selector-game {
  display: grid;
  grid-template-columns: auto;

  grid-gap: 10px;

  align-content: center;
  justify-content: stretch;
}

.down-dist-selector-conv,
.down-dist-selector-kick {
  display: grid;
  grid-template-columns: auto;
  //grid-template-rows: auto auto;

  grid-gap: 10px;

  align-content: center;
  justify-content: stretch;
}

@media screen and (max-width: 720px) {
  .down-and-distance {
    display: grid;
    grid-template-columns: auto;
    //grid-template-rows: auto auto auto;

    padding: 10px;
    grid-gap: 10px;

    align-content: center;
    justify-content: stretch;
  }

  .change-down-distance-text {
    grid-column: span 1;

    display: grid;
    grid-template-columns: auto;
    //grid-template-rows: auto auto;

    padding: 10px;
    grid-gap: 10px;

  }

}

@media screen and (max-width: 420px) {
  .down-selector {
    grid-template-columns: auto auto;
  }

  .down-dist-selector-form {
    //border: 1px solid #000000;

    display: grid;
    grid-template-columns: auto auto;
  }

}
