<button
  appearance="create"
  size="m"
  tuiButton
  type="button"
  (click)="showDialog()"
>
  ADD TEAM
</button>

<ng-template
  let-observer
  [tuiDialogOptions]="{label: 'Add Team to Tournament', size: 'm'}"
  [(tuiDialog)]="open"
>
  <form
    [formGroup]="teamTournamentForm"
    (ngSubmit)="onSubmit(); observer.complete()"
  >
    <p></p>
    @if (availableTeams$ | async) {
      <div class="tui-form__row">

        <tui-select
          *tuiLet="availableTeams$ | async as items"
          class="b-form"
          formControlName="teamToAdd"
          style="padding-left: 10px; padding-right: 10px;"
        >
          Select Team
          <tui-data-list-wrapper
            *tuiDataList
            size="l"
            [itemContent]="content"
            [items]="items"
          ></tui-data-list-wrapper>

        </tui-select>

        <ng-template
          #content
          let-data
        >
          <div class="template">

            <div>{{ data.title }}</div>
          </div>
        </ng-template>
      </div>
      <div class="tui-form__row">
        <p>
          <button
            appearance="create"
            tuiButton
            type="submit"
            [disabled]="!teamTournamentForm.valid"
          >
            Add
          </button>
          <button
            appearance="secondary"
            tuiButton
            type="button"
            style="padding: 10px"
            (click)="observer.complete()"
          >
            CANCEL
          </button>
        </p>
      </div>
    }
  </form>
</ng-template>
