<div class="super_main_container">
  <tui-root>
    <app-header [title]="title"></app-header>
    <div style="margin: 0; padding-left: 15px;">
      @if (breadcrumbs$ | async; as items) {
        <tui-breadcrumbs
          size="l"
          class="tui-space_top-2"
        >
          <tui-hosted-dropdown
            *tuiItem
            [content]="content"
          >
            <button
              appearance="secondary"
              icon="tuiIconMoreHorizontal"
              size="xs"
              title="More"
              tuiIconButton
            ></button>
            <ng-template #content>
              <tui-data-list>
                <a
                  *tuiRepeatTimes="let index of items.length - maxBreads"
                  tuiOption
                  [href]="items[index].routerLink"
                >
                  {{ items[index].caption }}
                </a>
              </tui-data-list>
            </ng-template>
          </tui-hosted-dropdown>
          <ng-container *tuiRepeatTimes="let index of maxBreads">
            @if (index + items.length - maxBreads >= 0) {
              <a
                *tuiItem
                tuiLink
                [href]="items[index + items.length - maxBreads].routerLink"
              >
                {{ items[index + items.length - maxBreads].caption }}
              </a>
            }
          </ng-container>
        </tui-breadcrumbs>
      } @else {
        <tui-loader></tui-loader>
      }

    </div>
    <main>
      <div class="main container">
        <div class="main content">

          <router-outlet></router-outlet>
        </div>
      </div>
    </main>
  </tui-root>
</div>
