<div class="tui-form__row">
  <form [formGroup]="form">
    <tui-combo-box
      formControlName="person"
    >
      {{ 'search ' | uppercase }} {{ placeholder | uppercase }}
      @if (persons) {
        <tui-data-list-wrapper
          *tuiDataList
          [itemContent]="stringifySurnameName | tuiStringifyContent"
          [items]="persons | tuiFilterByInput: matcherString"
          (itemClick)="onSelected($event)"
        ></tui-data-list-wrapper>
      }
    </tui-combo-box>
  </form>
</div>
