<div class="list-of-items-with-data">
  @for (item of data; track item.id) {
    <div class="item-with-data-island">
      <a
        [href]="formatPath(item)"
        rel="noreferrer"
        [size]="_size"
        target="_self"
        tuiIsland
        textAlign="center"
        [hoverable]="hoverable"
      >
        <div class="tui-island__content">
          <figure class="tui-island__figure">
            <div class="some-figure">
              @if (avatarUrl != 'none' || avatarUrl) {
                <tui-avatar
                  size="l"
                  text="{{item[titleProperty] || item[titlePropertyFirst] || item[titlePropertySecond] || 'image'}}"
                  class="tui-space_top-1"
                  [rounded]="false"
                  [avatarUrl]="backendUrl + item[avatarUrl] || null"
                ></tui-avatar>
              }
            </div>
          </figure>
          <div>
            <h3 class="tui-island__title">
              @if (titleProperty != 'none') {
                {{ getTitleCase(item, titleProperty) | titlecase }}
              } @else if (item[titlePropertyFirst] != 'none' &&
              item[titlePropertySecond] != 'none') {
                {{ getTitleCase(item, titlePropertyFirst) | titlecase }}
                {{ getTitleCase(item, titlePropertySecond) | titlecase }}
              } @else {
                No Title
              }
            </h3>
            <p class="tui-island__paragraph">
              @if (item[paragraphProperty]) {
                {{ item[paragraphProperty] }}
              } @else {
              }
            </p>
          </div>
        </div>
      </a>
    </div>
  } @empty {
    No Items Found
  }
</div>

