@if (id) {
  <!--  <tui-hosted-dropdown-->
  <!--    #dropdown-->
  <!--    [content]="content"-->
  <!--    [(tuiDropdownOpen)]="true"-->
  <!--    [(open)]="dropdownOpen"-->
  <!--  >-->
  <!--    <button-->
  <!--      appearance="flat"-->
  <!--      icon="tuiIconMoreVertical"-->
  <!--      tuiIconButton-->
  <!--      type="button"-->
  <!--      [pseudoHover]="dropdown.open || null"-->
  <!--    ></button>-->
  <!--  </tui-hosted-dropdown>-->
  <!--  <ng-template-->
  <!--    #content-->
  <!--    let-activeZone-->
  <!--  >-->

  @if (isEnabled) {
    <app-button-icon
      [buttonAppear]="TuiAppearance.Accent"
      [buttonShape]="'rounded'"
      [buttonSize]="'m'"
      [buttonIcon]="'tuiIconX'"
      [buttonClass]="'button-edit'"
      (click)="edit()"
    ></app-button-icon>
  } @else {
    <app-button-icon
      [buttonAppear]="TuiAppearance.Primary"
      [buttonShape]="'rounded'"
      [buttonSize]="'m'"
      [buttonIcon]="'tuiIconEdit2'"
      [buttonClass]="'button-edit'"
      (click)="edit()"
    ></app-button-icon>
  }
  @if (isDataChanged) {
    <app-button-icon
      [buttonAppear]="'create'"
      [buttonShape]="'rounded'"
      [buttonSize]="'m'"
      [buttonIcon]="'tuiIconSave'"
      [buttonClass]="'button-update'"
      (click)="submit('edit')"
    ></app-button-icon>
  }
  @if (deleteOrUpdate == 'deleteFromTeam' && !isDataChanged) {
    <app-button-icon
      [buttonAppear]="TuiAppearance.Accent"
      [buttonShape]="'rounded'"
      [buttonSize]="'m'"
      [buttonIcon]="'tuiIconTrash'"
      [buttonClass]="'button-remove'"
      (click)="deleteDialog($event)"
    ></app-button-icon>

    <app-delete-dialog
      [item]="item"
      [dialogId]="'deleteDialogPlayer'+id"
      (delete)="submit('deleteFromTeam')"
    ></app-delete-dialog>
  } @else if (deleteOrUpdate == 'delete' && !isDataChanged) {
    <app-button-icon
      [buttonAppear]="TuiAppearance.Accent"
      [buttonShape]="'rounded'"
      [buttonSize]="'m'"
      [buttonIcon]="'tuiIconTrash'"
      [buttonClass]="'button-remove'"
      (click)="deleteDialog($event)"
    ></app-button-icon>

    <app-delete-dialog
      [item]="item"
      [dialogId]="'deleteDialogPlayer'+id"
      (delete)="delete(id)"
    ></app-delete-dialog>

  }
  <!--  </ng-template>-->
} @else {
  <app-button-icon
    [buttonAppear]="'create'"
    [buttonShape]="'rounded'"
    [buttonSize]="'m'"
    [buttonIcon]="'tuiIconSave'"
    [buttonClass]="'button-save-new'"
    (click)="submit('add')"
  ></app-button-icon>

  <app-button-icon
    [buttonAppear]="TuiAppearance.Accent"
    [buttonShape]="'rounded'"
    [buttonSize]="'m'"
    [buttonIcon]="'tuiIconX'"
    [buttonClass]="'button-cancel'"
    (click)="cancel()"
  ></app-button-icon>
}
