.event-table {
  //width: 100%;
  font-size: 16px;
  //padding: 10px;
}

.event-table-row {
  box-shadow: 0px 0px 10px 0px #232323;
  padding: 10px;
  border-radius: 5px;
  display: grid;
  margin-bottom: 5px;
  margin-top: 5px;
}

.event-table-cell {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  //padding: 10px;
}

.event-num-qtr-row {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 10px;
  //padding: 10px;
}

.event-down-distance {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 10px;
  justify-content: stretch;
  align-items: center;
  //padding: 10px;
}

.event-hash-type {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 10px;
  //padding: 10px;
}
