@if (match && match.match_id) {
  <form
    tuiTextfieldSize="m"
    [formGroup]="eventForm"
    [tuiTextfieldLabelOutside]="true"
    style="padding: 10px"
  >
    @if (events && events.length && eventForm && eventsArray && eventsArray.length) {
      <div class="table">
        <!--        @if (events && events.length) {-->
        <div formArrayName="events" class="table-body">
          <div
            *ngFor="let eventFormGroup of eventsArray.controls; let i = index"
            class="table-row"
            [formGroupName]="i"
          >
            <!--EVENT NUMBER-->
            <div
              class="table-cell first"
            >
              @if (getFormDataByIndexAndKey(eventFormGroup, i, 'eventId')) {
                @if (getFormDataByIndexAndKey(eventFormGroup, i, 'eventNumber'); as number) {
                  {{ number }}
                }
              } @else {
                <tui-input-number
                  [focusable]="false"
                  [min]="1"
                  [step]="1"
                  [formControl]="getFormControl(
                        this.eventForm,
                        i,
                        'eventNumber',
                        'events'
                      )"
                ></tui-input-number>
              }
            </div>

            <!--EVENT QTR-->
            <div
              class="table-cell first"
            >
              @if (getFormDataByIndexAndKey(eventFormGroup, i, 'eventId')) {
                @if (getFormDataByIndexAndKey(eventFormGroup, i, 'eventQtr'); as qtr) {
                  QTR {{ qtr }}
                }
              } @else {
                <tui-input-number
                  [focusable]="false"
                  [min]="1"
                  [max]="4"
                  [step]="1"
                  [formControl]="getFormControl(
                        this.eventForm,
                        i,
                        'eventQtr',
                        'events'
                      )"
                ></tui-input-number>
              }
            </div>

            <!--BALL ON-->
            <div
              class="table-cell first"
            >
              @if (getFormDataByIndexAndKey(eventFormGroup, i, 'eventId')) {
                @if (getFormDataByIndexAndKey(eventFormGroup, i, 'eventBallOn'); as ballOn) {
                  BALL ON {{ ballOn }}
                }
              } @else {
                <tui-input-number
                  [focusable]="false"
                  [min]="-50"
                  [max]="50"
                  [step]="1"
                  (tuiValueChanges)="onBallOnChange($event, i)"
                  [formControl]="getFormControl(
                        this.eventForm,
                        i,
                        'eventBallOn',
                        'events'
                      )"
                ></tui-input-number>
              }
            </div>

            <!--EVENT TEAM-->
            <div
              class="table-cell first"
            >
              @if (getFormDataByIndexAndKey(eventFormGroup, i, 'eventId')) {
                @if (getEventTeam(eventFormGroup, i, 'eventTeam'); as eventTeam) {
                  OFFENCE TEAM: {{ eventTeam.title | uppercase }}
                }
              } @else {
                @if (match && match.teams_data && match.teams_data.team_a && match.teams_data.team_b) {
                  <app-select-team-in-match
                    [placeholder]="'offence team'"
                    [teamsList]="[match.teams_data.team_a, match.teams_data.team_b]"
                    [control]="getFormControl(
                                            this.eventForm,
                                            i,
                                            'eventTeam',
                                            'events'
                                          )"
                    (teamSelected)="onTeamChange($event, i)"

                  ></app-select-team-in-match>
                }
              }
            </div>

            <!--EVENT QB-->
            <div
              class="table-cell first"
            >
              @if (getFormDataByIndexAndKey(eventFormGroup, i, 'eventId')) {
                @if (getEventPlayer(eventFormGroup, i, 'eventQb'); as eventQb) {
                  QB #{{ eventQb.match_player.match_number }} {{ eventQb.person?.second_name | uppercase }}
                }
              } @else {
                @if (getEventTeam(eventFormGroup, i, 'eventTeam'); as selectedTeam) {
                  <!--                    {{ selectedTeam.title }}-->
                  <app-search-player-in-match-autocomplete
                    [action]="'select'"
                    [placeholder]="'qb'"
                    [players]="getPlayersForSelectedTeam(selectedTeam)"
                    [control]="getFormControl(
                        this.eventForm,
                        i,
                        'eventQb',
                        'events'
                      )"
                  ></app-search-player-in-match-autocomplete>
                }

              }
            </div>

            <!--EVENT DOWN-->
            <div
              class="table-cell first"
            >
              @if (getFormDataByIndexAndKey(eventFormGroup, i, 'eventId')) {
                @if (getFormDataByIndexAndKey(eventFormGroup, i, 'eventDown'); as down) {
                  {{ down }} &
                }
              } @else {
                <tui-input-number
                  [focusable]="false"
                  [min]="1"
                  [max]="4"
                  [step]="1"
                  (tuiValueChanges)="onDownChange($event, i)"
                  [formControl]="getFormControl(
                        this.eventForm,
                        i,
                        'eventDown',
                        'events'
                      )"
                ></tui-input-number>
              }
              @if (getFormDataByIndexAndKey(eventFormGroup, i, 'eventId')) {
                @if (getFormDataByIndexAndKey(eventFormGroup, i, 'eventDistance'); as distance) {
                  {{ distance }}
                }
              } @else {
                <tui-input-number
                  [min]="1"
                  [max]="100"
                  [step]="1"
                  [formControl]="getFormControl(
                                        this.eventForm,
                                        i,
                                        'eventDistance',
                                        'events'
                                      )"
                ></tui-input-number>
              }
            </div>

            <!--EVENT HASH-->
            <div
              class="table-cell first"
            >
              @if (getFormDataByIndexAndKey(eventFormGroup, i, 'eventId')) {
                @if (getFormDataByIndexAndKey(eventFormGroup, i, 'eventHash'); as eventHash) {
                  HASH: {{ eventHash | uppercase }}
                }
              } @else {
                <tui-combo-box
                  [stringify]="stringify"
                  [formControl]="getFormControl(
                  this.eventForm,
                  i,
                  'eventHash',
                  'events'
                  )"
                >
                  HASH
                  <tui-data-list-wrapper
                    *tuiDataList
                    [itemContent]="stringify | tuiStringifyContent"
                    [items]="eventHashOptions | tuiFilterByInputWith: stringify"
                  ></tui-data-list-wrapper>
                </tui-combo-box>
              }
            </div>

            <!--EVENT PLAY TYPE-->
            <div
              class="table-cell first"
            >
              @if (getFormDataByIndexAndKey(eventFormGroup, i, 'eventId')) {
                @if (getFormDataByIndexAndKey(eventFormGroup, i, 'eventPlayType'); as eventPlayType) {
                  PLAY TYPE: {{ eventPlayType | uppercase }}
                }
              } @else {
                <tui-combo-box
                  [stringify]="stringify"
                  [formControl]="getFormControl(
                  this.eventForm,
                  i,
                  'eventPlayType',
                  'events'
                  )"
                >
                  PLAY TYPE
                  <tui-data-list-wrapper
                    *tuiDataList
                    [itemContent]="stringify | tuiStringifyContent"
                    [items]="eventPlayTypeOptions | tuiFilterByInputWith: stringify"
                  ></tui-data-list-wrapper>
                </tui-combo-box>
              }
            </div>

            <!--EVENT PLAY RESULT-->
            <div
              class="table-cell first"
            >
              @if (getFormDataByIndexAndKey(eventFormGroup, i, 'eventId')) {
                @if (getFormDataByIndexAndKey(eventFormGroup, i, 'eventPlayResult'); as eventPlayResult) {
                  PLAY RESULT: {{ eventPlayResult | uppercase }}
                }
              } @else {
                <tui-combo-box
                  [stringify]="stringify"
                  [formControl]="getFormControl(
                  this.eventForm,
                  i,
                  'eventPlayResult',
                  'events'
                  )"
                >
                  PLAY RESULT
                  <tui-data-list-wrapper
                    *tuiDataList
                    [itemContent]="stringify | tuiStringifyContent"
                    [items]="eventPlayResultOptions | tuiFilterByInputWith: stringify"
                  ></tui-data-list-wrapper>
                </tui-combo-box>
              }
            </div>

            <!--EVENT RUN PLAYER-->
            <div
              class="table-cell first"
            >
              @if (getFormDataByIndexAndKey(eventFormGroup, i, 'eventId')) {
                @if (getEventPlayer(eventFormGroup, i, 'eventRunPlayer'); as eventPlayer) {
                  RUN PLAYER #{{ eventPlayer.match_player.match_number }} {{ eventPlayer.person?.second_name | uppercase }}
                }
              } @else {
                @if (getEventTeam(eventFormGroup, i, 'eventTeam'); as selectedTeam) {
                  @if (isPlayType(eventFormGroup, i, 'eventPlayType', IFootballPlayType.Run)) {
                    <app-search-player-in-match-autocomplete
                      [action]="'select'"
                      [placeholder]="'run player'"
                      [players]="getPlayersForSelectedTeam(selectedTeam)"
                      [control]="getFormControl(
                        this.eventForm,
                        i,
                        'eventRunPlayer',
                        'events'
                      )"
                    ></app-search-player-in-match-autocomplete>
                  }
                }

              }
            </div>

            <!--EVENT PASS PLAYER-->
            <div
              class="table-cell first"
            >
              @if (getFormDataByIndexAndKey(eventFormGroup, i, 'eventId')) {
                @if (getEventPlayer(eventFormGroup, i, 'eventReceiverPlayer'); as eventPlayer) {
                  RECEIVER PLAYER #{{ eventPlayer.match_player.match_number }} {{ eventPlayer.person?.second_name | uppercase }}
                }
              } @else {
                @if (getEventTeam(eventFormGroup, i, 'eventTeam'); as selectedTeam) {
                  @if (isPlayType(eventFormGroup, i, 'eventPlayType', IFootballPlayType.Pass)) {
                    <app-search-player-in-match-autocomplete
                      [action]="'select'"
                      [placeholder]="'receiver player'"
                      [players]="getPlayersForSelectedTeam(selectedTeam)"
                      [control]="getFormControl(
                        this.eventForm,
                        i,
                        'eventReceiverPlayer',
                        'events'
                      )"
                    ></app-search-player-in-match-autocomplete>
                  }
                }

              }
            </div>


            <!--ACTIONS-->
            @if (eventFormGroup.get("eventId" + i)!.value; as id) {
              <div class="table-cell">
                <app-actions-buttons
                  [id]="id"
                  [index]="i"
                  [deleteOrUpdate]="'delete'"
                  [item]="getFormDataByIndexAndKey(
                              eventFormGroup,
                              i,
                              'eventNumber'
                            )
                          "
                  (onSubmit)="
                            onSubmitNewEvent($event.action, $event.index, $event.id)
                          "
                  (onCancel)="onCancelButtonClick()"

                ></app-actions-buttons>
              </div>
            } @else {
              <div class="table-cell actions">
                <app-actions-buttons
                  [index]="i"
                  (onSubmit)="onSubmitNewEvent($event.action, $event.index, $event.id)"
                  (onCancel)="onCancelButtonClick()"
                ></app-actions-buttons>
              </div>
            }
          </div>
        </div>
        @if (!events.length ||
        events[events.length - 1].id !== null) {
          <div class="table-row final">
            <app-add-button-on-final-tr
              [action]="'add event'"
              (onAdd)="addNewEvent()"
            ></app-add-button-on-final-tr>
          </div>
        }

        <!--        } @else {-->
        <!--          <div class="table-row final">-->
        <!--            <app-add-button-on-final-tr-->
        <!--              (onAdd)="addNewEvent(null)"-->
        <!--            ></app-add-button-on-final-tr>-->
        <!--          </div>-->
        <!--        }-->
      </div>
    } @else {
      NO EVENTS
      <div class="table-row final">
        <app-add-button-on-final-tr
          (onAdd)="addNewEvent()"
        ></app-add-button-on-final-tr>
      </div>
    }
  </form>
} @else {
  NO MATCH ID
}
