.event-table {
  width: 100%;
  font-size: 16px;
}

.event-table-row {
  display: grid;
}

.event-table-cell {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  //padding: 5px;
}

.event-num-qtr-row {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 5px;
}

.event-down-distance {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 5px;
}

.event-hash-type {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 5px;
}
