.quarter-selector-sel {
  grid-row: span 2;
  font-size: 25px; /* Adjust the font size as needed */
  text-align: center; /* Adjust the text alignment as needed */
  width: 100%;
}

.quarter-selector {
  border: 1px solid #000000;

  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  padding: 10px;
  grid-gap: 10px;

  align-content: center;
  justify-content: center;
}
