<!--QTR-->
<app-toggle-visible-button
  [isVisible$]="qtrFormsVisible$"
  [formName]="'qtrForm'"
  [buttonText]="'Qtr Selector'">
</app-toggle-visible-button>
<div
  class="quarter"
  *ngIf="qtrFormsVisible$ | async"
>

  <form
    class="quarter-selector"
    [formGroup]="qtrForm"
  >
    <tui-select
      formControlName="qtrSelect"
      style="width: 100%; text-align: center;"
    >Select Quarter
      <tui-data-list-wrapper
        *tuiDataList
        [items]="items"
      ></tui-data-list-wrapper>
    </tui-select>

    <app-admin-submit-button
      style="width: 100%"
      [disabled]="disabled"
      (click)="updateQuarter(data?.match_data!)"
    ></app-admin-submit-button>

  </form>

  <form class="goal-btns">
    <button
      class="goal-btn"
      appearance="down-admin"
      tuiButton
      size="m"
      type="button"
      [disabled]="disabled"
      (click)="toggleTouchdownTeamA(data?.scoreboard_data!)"
    >TD HOME
    </button>
    <button
      class="goal-btn"
      appearance="down-admin"
      tuiButton
      size="m"
      type="button"
      [disabled]="disabled"
      (click)="toggleTouchdownTeamB(data?.scoreboard_data!)"
    >TD AWAY
    </button>
  </form>

</div>

