.admin-row-container {
  //border: 1px solid #000000;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: stretch;
}

.score-forms {
  //border: 1px solid #000000;

  display: grid;
  grid-template-columns: auto auto;
  align-content: center;
  justify-content: stretch;
  //padding: 10px;
  grid-gap: 10px;
  margin-top: 5px;
  //margin-bottom: 5px;
}

.score-form {
  //border: 1px solid #000000;
  box-shadow: 0px 0px 10px 0px #232323;
  border-radius: 5px;

  display: grid;
  padding: 10px;
  grid-gap: 10px;

  align-content: center;
  justify-content: stretch;
}

.score-form_team_input {
  text-align: center;
}

.score-form_team_input::placeholder {
  color: #888;
}

.score-increment {
  //border: 1px solid #000000;

  //box-shadow: 0px 0px 10px 0px #232323;
  //border-radius: 5px;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  //padding: 10px;
  grid-gap: 10px;
}


.score-increment-buttons {
  //border: 1px solid #000000;
  box-shadow: 0px 0px 10px 0px #232323;
  border-radius: 5px;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  padding: 10px;
  grid-gap: 10px;


}

@media screen and (max-width: 720px) {
  //.score-forms {
  //  grid-template-columns: auto
  //}
  .score-increment {
    grid-template-columns: auto auto;
  }

  .score-increment-buttons {
    grid-template-columns: auto;
  }


}

