<div class="sponsor_line container">
  <div class="sponsor_line content">
    @if (sponsorLine$ | async; as sponsorLine) {
      <div class="sponsor_line content__title">
        <h3 class="tui-text_h3">{{ sponsorLine.sponsor_line.title | uppercase }}</h3>
      </div>

      <div class="sponsor_line content__body">
        <div class="one_col_container">
          @for (item of sponsorLine.sponsors; track item.sponsor.id) {
            <p>POSITION {{ item.position }}</p>
            <p style="text-align: center">{{ item.sponsor.title | uppercase }}</p>

            <p style="text-align: center">
              <img
                src="{{url}}{{item.sponsor.logo_url}}"
                width="360px"
                alt="{{item.sponsor.title | uppercase}} Logo"
                (error)="onImgError($event)"
              ></p>
          }
        </div>
      </div>
    }

  </div>
</div>
