<div class="sponsor container">
  <div class="sponsor content">
    @if (sponsorLine$ | async; as sponsorLine) {
      <div class="sport content__title">
        <h3 class="tui-text_h3">{{ sponsorLine.title | uppercase }}</h3>
      </div>

      <!--      <p style="text-align: center">-->
        <!--        <img-->
        <!--          src="{{url}}{{sponsorLine.logo_url}}"-->
        <!--          width="200px"-->
        <!--          alt="{{sponsorLine.title | uppercase}} Logo"-->
        <!--          (error)="onImgError($event)"-->
        <!--        ></p>-->
    }
  </div>
</div>
