a[tuiLink] {
  color: var(--tui-background-base);
  font-size: 22px;
  font-weight: bold;
  padding-right: 10px;
  text-transform: uppercase;
}

a[tuiLink]:hover {
  color:var(--tui-background-accent-1-hover);
}


a.active {
  color: var(--tui-background-accent-1);
}
