a[tuiLink] {
  color: var(--tui-base-01);
  font-size: 22px;
  font-weight: bold;
  padding-right: 10px;
  text-transform: uppercase;
}

a[tuiLink]:hover {
  color:var(--tui-primary-hover);
}


a.active {
  color: var(--tui-primary);
}
