.table, .table-header, .table-cell {
  box-sizing: border-box; /* includes padding and border in the element's total width and height */
  background-color: #f2f2f2;
}

.table {
  //border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr; /* This means one column taking the full width, you probably want multiple columns defined here instead */
}

.table-header-body,
.table-row {
  //border: 1px solid black;
  display: grid;
  justify-content: stretch;
  align-items: center;
  grid-gap: 8px;
  grid-template-columns: minmax(150px, 2fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr);
}


.table-header,
.table-cell {
  //border: 1px solid black;
  margin: 0;
  padding: 8px;
  overflow: hidden; /* prevents content from spilling out */
  white-space: normal; /* keeps content on a single line */
  text-overflow: ellipsis; /* add ellipsis (...) at the end if content is too long */
}

.table-header {
  background-color: #d0d0d0;
  font-weight: bold;
  border-top: 1px solid #ccc;
  text-align: center;
}

.table-cell:nth-child(1) {
  text-align: left;
}

.table-cell:nth-child(3) {
  text-align: center;
}

.table-cell:nth-child(4) {
  text-align: right;
}

.center {
  text-align: center;
}
