<form
  tuiTextfieldSize="m"
  [formGroup]="playerForm"
  [tuiTextfieldLabelOutside]="true"
>
  <table
    tuiTable
    class="table-players"
    style="width: 100%"
  >
    <thead>
    <tr>
      <th tuiTh style="width: 30%">Player Full Name</th>
      <th tuiTh>Player Number</th>
      <th tuiTh>Player Position</th>
      <th tuiTh style="width: 30%">Actions</th>
    </tr>
    </thead>

    <tbody formArrayName="players">
      @if (players) {
        @for (playerFormGroup of playersArray.controls; let i = $index; track i) {
          <tr [formGroupName]="i">
            <td tuiTd>
              @if (getFormDataByIndexAndKey(playerFormGroup, i, 'playerId')) {
                @if (getFormDataByIndexAndKey(playerFormGroup, i, 'fullName'); as name) {
                  {{ name | uppercase }}
                }
              } @else {
                <app-select-player-to-team-tournament
                  [playerList]="availablePlayersInSport"
                  [teamId]="teamId"
                  [tournamentId]="tournamentId"
                  [control]="getFormControl(this.playerForm, i, 'playerInSport', 'players')"
                ></app-select-player-to-team-tournament>
              }
            </td>
            <td tuiTd>
              <app-select-player-number
                [control]="getFormControl(this.playerForm, i, 'number', 'players')"
              ></app-select-player-number>
            <td tuiTd>
              @if (sportId) {
                @if (positions) {
                  <app-select-player-position
                    [positionList]="positions"
                    [index]="i"
                    [sportId]="sportId"
                    [control]="getFormControl(this.playerForm, i, 'position', 'players')"
                  ></app-select-player-position>
                }
              }
            </td>
            <td tuiTd>
              <app-actions-buttons
                [id]="playerFormGroup.get('playerInTeamId' + i)!.value"
                [index]="i"
                (onSubmit)="onSubmit($event.action, $event.index, $event.id)"
                (onCancel)="onCancelButtonClick()"
                (onDelete)="onDeleteButtonClick('deleteDialogPlayer'+$event.id)"
              ></app-actions-buttons>
              @if (playerFormGroup.get('playerInTeamId' + i)!.value; as id) {
                <app-delete-dialog
                  [item]="playerFormGroup.get('fullName' + i)!.value"
                  (delete)="onDelete(id)"
                  [dialogId]="'deleteDialogPlayer'+playerFormGroup.get('playerInTeamId' + i)!.value"
                ></app-delete-dialog>
              }
            </td>
          </tr>
        }
        @if (!players.length || players[players.length - 1].playerInTeamTournament.id !== null) {
          <tr>
            <td class="table-cell" tuiTd [attr.colspan]="4">
              <app-add-button-on-final-tr
                [span]="4"
                (onAdd)="addNewPlayer()"
              ></app-add-button-on-final-tr>
            </td>
          </tr>
        }
      } @else {
        <tr>
          <td class="table-cell" tuiTd [attr.colspan]="4">
            <app-add-button-on-final-tr
              [span]="4"
              (onAdd)="addNewPlayer()"
            ></app-add-button-on-final-tr>
          </td>
        </tr>
      }
    </tbody>
  </table>
</form>

