.table, .table-header, .table-cell {
  box-sizing: border-box; /* includes padding and border in the element's total width and height */
  //background-color: #f2f2f2;
}

.table {
  //border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr; /* This means one column taking the full width, you probably want multiple columns defined here instead */
}

.table-header-body,
.table-row {
  display: grid;
  justify-content: stretch;
  align-items: center;
  grid-template-columns: minmax(250px, 2fr) minmax(150px, 1fr) minmax(100px, 1fr) minmax(130px, 1fr);

  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 8px;
}


.table-header,
.table-cell {
  margin: 0;
  padding: 16px;
  overflow: hidden; /* prevents content from spilling out */
  white-space: normal; /* keeps content on a single line */
  text-overflow: ellipsis; /* add ellipsis (...) at the end if content is too long */
}

//.table-header {
//  background-color: #d0d0d0;
//  font-weight: bold;
//  border-top: 1px solid #ccc;
//  text-align: center;
//}

.actions {
  text-align: right;
}

.center {
  text-align: center;
}

.first {
  text-align: left;
}

.left {
  text-align: left;
}

.final {
  grid-template-columns: auto;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .table-header-body,
  .table-row {
    grid-template-columns: minmax(150px, 2fr) minmax(100px, 1fr) minmax(100px, 1fr);
    grid-template-rows: auto auto;
  }


  .actions {
    grid-column: span 3;
  }

  .final {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 500px) {
  .table-header-body,
  .table-row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }

  .actions, .first {
    grid-column: span 2;
  }

  .final {
    grid-template-columns: auto;
  }
}
