<button
  appearance="create"
  size="m"
  tuiButton
  type="button"
  (click)="showDialog()"
>
  NEW TEAM
</button>
<ng-template
  let-observer
  [tuiDialogOptions]="{label: 'Add New team', size: 'm'}"
  [(tuiDialog)]="open"
>
  <form
    [formGroup]="teamForm"
    (ngSubmit)="onSubmit(); observer.complete()"
  >
    <p></p>
    <div class="tui-form__row">
      <tui-input
        formControlName="teamTitle"
        tuiAutoFocus
      >
        Team Title

        <span class="tui-required"></span>
      </tui-input>
      <tui-error
        formControlName="teamTitle"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    <div class="tui-form__row">
      <tui-input
        formControlName="teamCity"
        tuiAutoFocus
      >
        Team City
        <span class="tui-required"></span>
      </tui-input>
      <tui-error
        formControlName="teamCity"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    <div class="tui-form__row">
      <tui-textarea
        formControlName="teamDescription"
      >
        Team Description
      </tui-textarea>
      <tui-error
        formControlName="teamDescription"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    <div class="tui-form__row">
      <tui-input-files
        *ngIf="!teamLogoForm.value"
        accept="image/*"
        [formControl]="teamLogoForm"
        (reject)="onReject($event)"
      >
        Team Logo Url
      </tui-input-files>

      <tui-files>
        <tui-file
          *ngIf="loadedFiles$ | async as file"
          [file]="file"
          [showDelete]="teamLogoForm.enabled"
          (removed)="removeFile()"
        ></tui-file>

        <tui-file
          *ngIf="rejectedFiles$ | async as file"
          state="error"
          [file]="file"
          [showDelete]="teamLogoForm.enabled"
          (removed)="clearRejected()"
        ></tui-file>

        <tui-file
          *ngIf="loadingFiles$ | async as file"
          state="loading"
          [file]="file"
          [showDelete]="teamLogoForm.enabled"
        ></tui-file>
      </tui-files>


      <!--      <img-->
      <!--        *ngIf="teamForm.controls['teamLogoUrl'].value"-->
      <!--        [src]="teamForm.controls['teamLogoUrl'].value"-->
      <!--        alt="Uploaded Team Logo"-->
      <!--        width="100px"-->
      <!--        height="100px"-->
      <!--      >-->


      <tui-error
        formControlName="teamLogoUrl"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    <div class="tui-form__row">
      <tui-input-number
        formControlName="teamEeslId"
      >
        Match EESL ID
      </tui-input-number>
      <tui-error
        formControlName="teamEeslId"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    <p>
      <app-create-button-in-form
        [action]="'add'"
        [disabled]="!teamForm.valid"
      ></app-create-button-in-form>

      <app-cancel-button-in-form
        (click)="observer.complete()"
      ></app-cancel-button-in-form>
    </p>
  </form>
</ng-template>

<!--    <div class="tui-form__row">-->
<!--      <tui-input-->
<!--        formControlName="teamLogoUrl"-->
<!--        tuiAutoFocus-->
<!--      >-->
<!--        Team Logo Url-->
<!--      </tui-input>-->
<!--      <tui-error-->
<!--        formControlName="teamLogoUrl"-->
<!--        [error]="[] | tuiFieldError | async"-->
<!--      ></tui-error>-->
<!--    </div>-->
