<div class="tui-form__row">
  <tui-select
    *tuiLet="itemsList as items"
    [formControl]="formField"
    style="padding-top: 10px;"
  >
    SELECT {{ title | uppercase }}
    <tui-data-list-wrapper
      *tuiDataList
      size="l"
      [itemContent]="content"
      [items]="items | withNullOption:nullable"
    ></tui-data-list-wrapper>
  </tui-select>

  <ng-template
    #content
    let-data
  >
    <div class="template">
      <tui-avatar
        *ngIf="avatarProperty"
        size="xs"
        class="avatar"
        [avatarUrl]="backendUrl + data[avatarProperty]"
      ></tui-avatar>
      <div class="name">{{ stringifyFn ? stringifyFn(data) : data.title }}</div>
    </div>
  </ng-template>
</div>
