.change-team-info {
  border: 1px solid #000000;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  padding: 10px;
  grid-gap: 10px;

  align-content: center;
  justify-content: stretch;
}

.name-form-a,
.name-form-b,
.logo-form-a,
.logo-form-b {
  border: 1px solid #000000;

  display: grid;
  //grid-template-rows: auto auto auto;
  padding: 10px;
  grid-gap: 10px;

  align-content: center;
  justify-content: stretch;
}


.name-form-a-input,
.name-form-b-input,
.quarter-selector-sel,
.change-down-distance-text-input {
  grid-row: span 2;
  font-size: 25px; /* Adjust the font size as needed */
  text-align: center; /* Adjust the text alignment as needed */
  width: 100%;
}

.logo-form-a-input,
.logo-form-b-input {
  grid-row: span 2;
  font-size: 20px; /* Adjust the font size as needed */
  text-align: center; /* Adjust the text alignment as needed */
  width: 100%;

}

@media screen and (max-width: 720px) {
  .change-team-info {
    grid-template-columns: auto;
  }

}

@media screen and (max-width: 420px) {


}
