<!--CHANGE TEAMS DATA-->
<div
  *ngIf="changeTeamsFormsVisible$ | async"
  class="change-team-info"
>
  <form
    class="name-form-a"
    [formGroup]="teamTitleForm"
  >
    <tui-input
      formControlName="teamATitle"
    >Game Home Team Title:
    </tui-input>
    <tui-error
      formControlName="teamATitle"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
    <app-admin-submit-button

    ></app-admin-submit-button>
  </form>

  <!-- Form for changing Team B's name -->
  <form
    class="name-form-b"
    [formGroup]="teamTitleForm"
  >
    <tui-input
      formControlName="teamBTitle"
    >Game Away Team Title:
    </tui-input>
    <tui-error
      formControlName="teamBTitle"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
    <app-admin-submit-button

    ></app-admin-submit-button>
  </form>

  <!-- Form for changing Team A's logo -->
  <form
    class="logo-form-a"
    [formGroup]="teamTitleForm"
  >
    <tui-input-files
      formControlName="teamALogo"
      accept="image/*"
    >Game Home Team Logo:
    </tui-input-files>
    <tui-error
      formControlName="teamALogo"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
    <app-admin-submit-button

    ></app-admin-submit-button>
  </form>

  <!-- Form for changing Team B's logo -->
  <form
    class="logo-form-b"
    [formGroup]="teamTitleForm"
  >
    <tui-input-files
      formControlName="teamBLogo"
      accept="image/*"
    >Game Home Team Logo:
    </tui-input-files>
    <tui-error
      formControlName="teamBLogo"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
    <app-admin-submit-button

    ></app-admin-submit-button>
  </form>
</div>
<app-toggle-visible-button
  [isVisible$]="changeTeamsFormsVisible$"
  [formName]="'changeTeamsForms'"
  [buttonText]="'Teams Forms'">
</app-toggle-visible-button>
