@if (eventsArray && i !== undefined && i !== null) {
  <div
    class="event-short-view-container"
    [style.background-color]="isCautionColorResult(eventsArray, i)"
  >
    @if (getEventNumber(eventsArray, i); as num) {
      <div class="event-short-view"><label>#{{ num }}</label></div>
    }
    @if (getEventTeam(eventsArray, i); as team) {
      <div
        class="event-short-view"
        [style.background-color]="team.team_color ? hexToRgba(team.team_color, 0.3) : 'transparent'"
      >{{ team.title | titlecase }}&nbsp;
      </div>
    }
    @if (getBallOn(eventsArray, i); as ballOn) {
      <div class="event-short-view">BallOn: {{ ballOn }}&nbsp;</div>
    }

    @if (getBallMovedOn(eventsArray, i); as ballMovedOn) {
      <div class="event-short-view">BallMovedOn: {{ ballMovedOn }}&nbsp;</div>
    }

    @if (getBallOn(eventsArray, i); as ballOn) {
      @if (getBallMovedOn(eventsArray, i); as ballMovedOn) {
        @if (maxFieldLength) {
          <div class="event-short-view">Dist: {{ computeDistance(ballMovedOn, ballOn, maxFieldLength / 2) }}&nbsp;</div>
        }
      }
    }

    @if (isQbPlay(eventsArray, i)) {
      <div class="event-short-view"
           [style.background-color]="isMinCautionColor(noQbSelected(eventsArray, i))">
        QB: {{ isPlayer(getEventQb(eventsArray, i)) }}
      </div>
    }
    @if (getEventDown(eventsArray, i); as down) {
      @if (getEventDistance(eventsArray, i); as dist) {
        <div
          class="event-short-view">{{ down }}&nbsp;&&nbsp;{{ dist }}
        </div>
      }
    }
    @if (getEventPlayType(eventsArray, i); as playType) {
      <div class="event-short-view">{{ playType | titlecase }}&nbsp;</div>
    }
    @if (getEventPlayResult(eventsArray, i); as playResult) {
      <div
        class="event-short-view"
        [style]="{ 'background-color': getPlayTypeBackgroundColor(playResult)}"
      >
        {{ playResult | titlecase }}&nbsp;
      </div>
    }
    @if (isRunPlay(eventsArray, i)) {
      <div class="event-short-view"
           [style.background-color]="isMinCautionColor(noRunPlayerSelected(eventsArray, i))">
        RUNNER: {{ isPlayer(getEventRunPlayer(eventsArray, i)) }}
      </div>
    }
    @if (isPassCompletedPlay(eventsArray, i)) {
      <div class="event-short-view"
           [style.background-color]="isMinCautionColor(noReceiverPlayerSelected(eventsArray, i))">
        RECEIVER: {{ isPlayer(getEventReceiverPlayer(eventsArray, i)) }}
      </div>
    }
    @if (isPassDroppedPlay(eventsArray, i)) {
      <div class="event-short-view"
           [style.background-color]="isMinCautionColor(noReceiverPlayerSelected(eventsArray, i))">
        DROPPED PLAYER: {{ isPlayer(getEventDroppedPlayer(eventsArray, i)) }}
      </div>
    }
    @if (isScoreTDPatTwoOffence(eventsArray, i)) {
      <div class="event-short-view"
           [style.background-color]="isMinCautionColor(noScorePlayerSelected(eventsArray, i))">
        SCORE PLAYER: {{ isPlayer(getEventScorePlayer(eventsArray, i)) }}
      </div>
    }
    @if (isPatOnePlay(eventsArray, i)) {
      <div class="event-short-view"
           [style.background-color]="isMinCautionColor(noPatOnePlayerSelected(eventsArray, i))">
        PAT ONE PLAYER: {{ isPlayer(getEventPatOnePlayer(eventsArray, i)) }}
      </div>
    }
    @if (isReturnPlay(eventsArray, i)) {
      <div class="event-short-view"
           [style.background-color]="isMinCautionColor(noReturnPlayerSelected(eventsArray, i))">
        RETURNER: {{ isPlayer(getEventReturnPlayer(eventsArray, i)) }}
      </div>
    }
    @if (isPuntPlay(eventsArray, i)) {
      <div class="event-short-view"
           [style.background-color]="isMinCautionColor(noPuntPlayerSelected(eventsArray, i))">
        PUNTER: {{ isPlayer(getEventPuntPlayer(eventsArray, i)) }}
      </div>
    }
    @if (isFlagResult(eventsArray, i)) {
      <div class="event-short-view"
           [style.background-color]="isMinCautionColor(noFlagPlayerSelected(eventsArray, i))">
        FLAGGED: {{ isPlayer(getEventFlaggedPlayer(eventsArray, i)) }}
      </div>
    }
    @if (isTacklePossible(eventsArray, i)) {
      <div class="event-short-view">
        TACKLE PLAYER: {{ isPlayer(getEventTacklePlayer(eventsArray, i)) }}
      </div>
    }
    <!--                    @if (isTacklePossible(eventsArray, i)) {-->
    <!--                      <div class="event-short-view">-->
    <!--                        TACKLE ASSIST PLAYER: {{ isPlayer(getEventAssistTacklePlayer(eventsArray, i)) }}-->
    <!--                      </div>-->
    <!--                    }-->
    @if (isSackResult(eventsArray, i)) {
      <div class="event-short-view"
           [style.background-color]="isMinCautionColor(noSackPlayerSelected(eventsArray, i))">
        SACK PLAYER: {{ isPlayer(getEventSackPlayer(eventsArray, i)) }}
      </div>
    }
    @if (isInterceptResult(eventsArray, i)) {
      <div class="event-short-view"
           [style.background-color]="isMinCautionColor(noInterceptedPlayerSelected(eventsArray, i))">
        INTERCEPT PLAYER: {{ isPlayer(getEventInterceptedPlayer(eventsArray, i)) }}
      </div>
    }
    @if (isDeflectResult(eventsArray, i)) {
      <div class="event-short-view"
           [style.background-color]="isMinCautionColor(noDeflectPlayerSelected(eventsArray, i))">
        DEFLECT PLAYER: {{ isPlayer(getEventDeflectedPlayer(eventsArray, i)) }}
      </div>
    }
    @if (isKickPlay(eventsArray, i)) {
      <div class="event-short-view"
           [style.background-color]="isMinCautionColor(noKickPlayerSelected(eventsArray, i))">
        KICKER: {{ isPlayer(getEventKickPlayer(eventsArray, i)) }}
      </div>
    }
    @if (isKickOffPlay(eventsArray, i)) {
      <div class="event-short-view"
           [style.background-color]="isMinCautionColor(noKickOffPlayerSelected(eventsArray, i))">
        KICKOFF PLAYER: {{ isPlayer(getEventKickOffPlayer(eventsArray, i)) }}
      </div>
    }
    @if (isDefenceScore(eventsArray, i)) {
      <div class="event-short-view"
           [style.background-color]="isMinCautionColor(noDefenceScorePlayerSelected(eventsArray, i))">
        DEFENCE SCORE PLAYER: {{ isPlayer(getEventDefenceScorePlayer(eventsArray, i)) }}
      </div>
    }
    @if (getEventIsFumble(eventsArray, i); as isFumble) {
      <div
        class="event-short-view"
        [style]="{ 'background-color': isFumble ? '#ee88d2' : 'transparent' }">
        {{ 'Fumble' | uppercase }}&nbsp;
      </div>
    }
    @if (getEventScoreResult(eventsArray, i); as scoreResult) {
      <div
        class="event-short-view"
        [style]="{ 'background-color': '#e08383' }">
        {{ scoreResult | uppercase }}&nbsp;
      </div>
    }
  </div>
}
