<div class="list-of-items-with-data">
  @for (item of data; track item.id) {
    @if (item) {
      <div class="item-with-data-island">
        <button
          tuiCardLarge
          tuiCell
          tuiSurface="floating"
          type="button"
          (click)="navigateToTournamentItem(item)"
          style="width: 100%"
        >
          <tui-avatar
            appearance="primary"
            [src]="url + item.tournament_logo_icon_url"
          />
          <div tuiTitle>
            {{ item.title | uppercase }}
          </div>
        </button>
      </div>
    } @else {
      No Tournament Data
    }
  } @empty {
    No Items Found
  }
</div>
<!-- <div class="list-of-items-with-data"> -->
<!--   @for (item of data; track item.id) { -->
<!--       <div class="item-with-data-island"> -->
<!-- <a -->
<!--   rel="noreferrer" -->
<!--   [size]="_size" -->
<!--   target="_self" -->
<!--   tuiIsland -->
<!--   textAlign="center" -->
<!--   [hoverable]="hoverable" -->
<!--   (click)="navigateToTournamentItem(item)" -->
<!-- > -->
<!--   <div class="tui-island__content"> -->
<!--     <figure class="tui-island__figure"> -->
<!--       <div class="some-figure"> -->
<!--         <div class="some-figure"> -->
<!--           @if (avatarUrl == "title" || avatarUrl) { -->
<!--             <tui-avatar -->
<!--               [src]=" -->
<!--                 backendUrl + (item[avatarUrl] || '') -->
<!--                   | tuiFallbackSrc: getInitialsText(item) -->
<!--               " -->
<!--               size="xl" -->
<!--               class="tui-space_top-1" -->
<!--             ></tui-avatar> -->
<!--           } -->
<!--         </div> -->
<!--       </div> -->
<!--     </figure> -->
<!--     <div> -->
<!--       <h3 class="tui-island__title"> -->
<!--         {{ getTitleCase(item, titleProperty) | uppercase }} -->
<!--       </h3> -->
<!--       <p class="tui-island__paragraph"> -->
<!--         @if (item[paragraphProperty]) { -->
<!--           {{ item[paragraphProperty] }} -->
<!--         } @else {} -->
<!--       </p> -->
<!--     </div> -->
<!--   </div> -->
<!-- </a> -->
<!-- </div> -->
