<div class="tournament content__title">
  @if (this.tournament$ | async; as tournament) {
    <div class="title-header-with-logo">
      <img
        src="{{ url }}{{ tournament.tournament_logo_web_url }}"
        width="200px"
        alt="{{ tournament.title | uppercase }} Logo"
      />
      <h3 class="tui-text_h6">
        {{ tournament.title | uppercase }}
      </h3>
    </div>

    @if (currentTournamentMainSponsor$ | async; as sponsor) {
      <p style="text-align: center">Main Sponsor</p>
      <!--      <p style="text-align: center">{{ sponsor.title }}</p>-->
      <p style="text-align: center">
        <img
          src="{{ url }}{{ sponsor.logo_url }}"
          width="200px"
          alt="{{ sponsor.title | uppercase }} Logo"
        />
      </p>
    }
    @if (sponsorLine$ | async; as sponsorLine) {
      <div class="tournament_sponsor_line">
        <app-sponsor-line [sponsorLine]="sponsorLine"></app-sponsor-line>
      </div>
    }
    <p class="content__title_description">{{ tournament.description }}</p>
  } @else {
    <h3 class="tui-text_h3">
      <tui-loader [inheritColor]="true"></tui-loader>
    </h3>
  }

  <div class="one_row_container">
    @if (this.tournament$ | async; as tournament) {
      <app-edit-button
        [action]="'edit'"
        [item]="'Tournament'"
        [dialogId]="'editTournamentDialog'"
      ></app-edit-button>

      <app-tournament-add-edit-form
        [action]="'edit'"
        [dialogId]="'editTournamentDialog'"
        [new_tournament]="tournament"
        [allSponsors]="allSponsors$ | async"
        [allSponsorLines]="allSponsorLines$ | async"
      ></app-tournament-add-edit-form>

      <app-delete-button
        [item]="buttonTitle"
        [dialogId]="'deleteDialog'"
      ></app-delete-button>
      <app-delete-dialog
        [item]="buttonTitle"
        (delete)="onDelete()"
        [dialogId]="'deleteDialog'"
      ></app-delete-dialog>
    }
  </div>
</div>

<div class="tournament content__body">
  <div class="one_col_container">
    <div class="tournament">
      <div class="one_col_container">
        <div class="two_col_container_tournament">
          <div class="one_col_container">
            <app-body-list-title titleMany="matches"></app-body-list-title>

            @if (matchesInTournament$ | async; as items) {
              <div class="one_col_container">
                <form [formGroup]="formWeek" style="padding: 10px">
                  <tui-input-number
                    [tuiTextfieldCleaner]="true"
                    formControlName="matchWeekSearch"
                    (tuiValueChanges)="onSearchByWeek($event)"
                  >
                    Search by WEEK
                  </tui-input-number>
                </form>

                <app-base-search-form
                  [placeholder]="'Team'"
                  (search)="onSearch($event)"
                  style="padding: 10px"
                ></app-base-search-form>
              </div>
              <div class="one_col_container">
                @if (totalMatchCombinedSearchPages$ | async; as totalPages) {
                  @if (currentPage$ | async; as currentPage) {
                    <app-base-pagination
                      [currentPage]="currentPage"
                      [totalPages]="totalPages"
                      [itemsPerPage]="6"
                      (pageChange)="setCurrentPage($event)"
                      (pageSizeChange)="changePageSize($event)"
                    ></app-base-pagination>
                  }
                }
              </div>
              <div class="list-of-items-with-data">
                <app-list-of-matches
                  [data$]="paginatedMatchCombinedSearchResults$"
                ></app-list-of-matches>
                @if (this.tournament$ | async; as tournament) {
                  @if (teamsInTournament$ | async; as teams) {
                    <div class="one_col_container">
                      <app-create-button-show-dialog
                        [action]="'add'"
                        [item]="'Match'"
                        [dialogId]="'addDialog'"
                      ></app-create-button-show-dialog>
                    </div>
                    <app-add-edit-match
                      [action]="'add'"
                      [dialogId]="'addDialog'"
                      [tournamentId]="tournament.id!"
                      [teams]="teams"
                      [allSponsors]="allSponsors$ | async"
                      [allSponsorLines]="allSponsorLines$ | async"
                    ></app-add-edit-match>
                  }
                }
              </div>
            }
          </div>
          <div class="one_col_container">
            <app-body-list-title titleMany="teams"></app-body-list-title>

            @if (sport$ | async; as sport) {
              @if (tournament$ | async; as tour) {
                @if (teamsInTournament$ | async; as t) {
                  @if (availableTeamsToAddToTournament$ | async;
                    as availableTeams) {
                    <app-add-edit-team-to-tournament-table
                      [tournamentId]="tour.id!"
                      [teams]="t"
                      [sportId]="sport.id!"
                      [availableTeamInSport]="availableTeams"
                    ></app-add-edit-team-to-tournament-table>
                  }
                }
              }
            }
          </div>
        </div>
        <div class="one_col_container">
          <app-body-list-title titleMany="players"></app-body-list-title>

          @if (sport$ | async; as sport) {
            @if (tournament$ | async; as tournament) {
              @if (paginatedTablePlayerInTeamTournament$ | async; as players) {
                @if (allSportPlayersWithPerson$ | async; as playersInSports) {
                  @if (allAvailablePlayersToAddInTournament$ | async;
                    as availablePlayers) {
                    @if (allPlayersInTournament$| async; as playersInTournament) {
                      <span class="age-stats">
                  Average age:
                        {{ calculateAgeStats(playersInTournament)?.average | number:'1.0-0' }}
                </span>
                      <span class="age-stats">
                  Min age:
                        {{ calculateAgeStats(playersInTournament)?.min?.years | number:'1.0-0' }} years
                        {{ calculateAgeStats(playersInTournament)?.min?.days | number:'1.0-0' }} days
                  <b>{{ calculateAgeStats(playersInTournament)?.minPlayer?.first_name | titlecase }}&nbsp;</b>
                  <b>{{ calculateAgeStats(playersInTournament)?.minPlayer?.second_name | titlecase }}</b>
                </span>
                      <span class="age-stats">
                  Max age:
                        {{ calculateAgeStats(playersInTournament)?.max?.years | number:'1.0-0' }} years
                        {{ calculateAgeStats(playersInTournament)?.max?.days | number:'1.0-0' }} days
                  <b>{{ calculateAgeStats(playersInTournament)?.maxPlayer?.first_name | titlecase }}&nbsp;</b>
                  <b>{{ calculateAgeStats(playersInTournament)?.maxPlayer?.second_name | titlecase }}</b>
                </span>
                      <span class="age-stats">
                  Median age:
                        {{ calculateAgeStats(playersInTournament)?.median | number:'1.0-0' }}
                </span>
                      <app-add-edit-player-to-team-tournament-table
                        [deleteOrUpdate]="'delete'"
                        [sportId]="sport.id!"
                        [tournamentId]="tournament.id!"
                        [teamsInTournament]="teamsInTournament$ | async"
                        [playersInSport]="playersInSports"
                        [players]="players"
                        [availablePlayersInSport]="availablePlayers"
                        [positions]="allSportPositions$ | async"
                      ></app-add-edit-player-to-team-tournament-table>
                    }
                  }
                }
              }
            }
          }
          @if (totalPlayersInTeamTournament$ | async; as totalPages) {
            @if (currentPlayersInTournamentPage$ | async; as currentPage) {
              <app-base-pagination
                [currentPage]="currentPage"
                [totalPages]="totalPages"
                [itemsPerPage]="10"
                (pageChange)="setPlayerInTournamentCurrentPage($event)"
                (pageSizeChange)="changePlayerInTournamentPageSize($event)"
              ></app-base-pagination>
            }
          }
        </div>
      </div>
    </div>
  </div>
</div>
