.burger-menu-with-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  padding: 5px;
}

//.burger-menu-with-buttons > * {
//  width: 100%; /* This makes each child element take the full width of the flex container */
//  box-sizing: border-box; /* This ensures padding and borders are included in the width calculation */
//}

//.burger-menu-with-buttons > * {
//  flex-grow: 1;
//}

//.burger-menu-with-buttons > *:not(:last-child) {
//  margin-bottom: 10px;
//}


.tournament_sponsor_line {
  box-sizing: border-box;
  margin-top: 5px;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #ffffff;
  //width: 100vw;
  width: calc(100vw - (100vw - 100%)); /* May help remove horizontal scroll caused by vertical scrollbar */
}

.tournament_sponsor_line app-sponsor-line {
  display: grid; /* or display: flex; */
  justify-content: center; /* This centers the content */
  align-items: center; /* This aligns items vertically in the center */
}

app-sponsor-line img {
  max-width: 100%; /* Ensures image does not overflow its container */
  height: auto; /* Maintains aspect ratio */
}

.age-stats {
  padding: 5px;
}

