@if (data$ | async; as data) {
  <div class="list-of-items-with-data">
    @for (item of data; track item.id) {
      @if (item) {
        <div class="item-with-data-island">
          <button
            tuiCardLarge
            tuiSurface="floating"
            type="button"
            (click)="navigateToMatchItem(item)"
            style="width: 100%"
          >
            <div tuiTitle>WEEK {{ item.match.week }}</div>
            <h3>
              {{ item.teams_data!.team_a.title | titlecase }} vs
              {{ item.teams_data!.team_b.title | titlecase }}
            </h3>
            <h4>
              {{ item.match_data!.score_team_a }} :
              {{ item.match_data!.score_team_b }}
            </h4>
            <p class="tui-island__paragraph">
              {{ item.match.match_date | date: "dd MMM yyyy, HH:mm" }}
            </p>
          </button>
        </div>
      } @else {
        <tui-loader />
      }
    } @empty {
      <tui-loader />
    }
  </div>
} @else {
  <tui-loader />
}
