.game-timer-input {
  text-align: center;
}


.timers-form {
  //border: 1px solid #000000;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  //padding: 10px;
  grid-gap: 10px;

  align-content: center;
  justify-content: stretch;
}

.time-inputs {
  //border: 1px solid #000000;
  grid-column: span 3;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  //padding: 10px;
  grid-gap: 10px;

  align-content: center;
  justify-content: stretch;
}

.time-inputs-save-btn {
  grid-column: span 3;
}

.game-time-form {
  //border: 1px solid #000000;
  box-shadow: 0px 0px 10px 0px #232323;
  border-radius: 5px;

  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-gap: 10px;

  align-content: center;
  justify-content: stretch;
}

.play-time-form {
  //border: 1px solid #000000;
  box-shadow: 0px 0px 10px 0px #232323;
  border-radius: 5px;

  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  padding: 10px;
  grid-gap: 10px;

  align-content: center;
  justify-content: stretch;
}

.play-time {
  //border: 1px solid #000000;
  grid-column: span 2;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  padding: 10px;
  grid-gap: 10px;

  align-content: center;
  justify-content: stretch;
}

.play-time-btns {
  //border: 1px solid #000000;
  grid-column: span 2;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;

  grid-gap: 10px;

  align-content: center;
  justify-content: stretch;
}

@media screen and (max-width: 720px) {
  .timers-form {
    grid-template-columns: auto;
  }


}
