<!--TIME-->
<div
  *ngIf="timeFormsVisible$ | async"
  id="timers-form"
  class="timers-form"
>
  <div class="game-timer" id="game-timer">
    <label class="game-timer-min-label">
      Minutes:
    </label>
    <label class="game-timer-sec-label">
      Seconds:
    </label>
    <button
      class="game-timer-save-btn"
    >Save New Time
    </button>
    <input
      type="number"
      id="set-minutes"
      min="0"
      class="game-timer-min-input"
      [placeholder]="getMinutes(data.match_data!.gameclock!)"
    >
    <input
      type="number"
      id="set-seconds"
      min="0"
      max="59"
      class="game-timer-sec-input"
      [placeholder]="getSeconds(data.match_data?.gameclock!)"
    >
    <button
      class="game-timer-start-btn"
    >Start Game Timer
    </button>
    <button
      class="game-timer-pause-btn"
    >Pause Game Timer
    </button>
    <button
      class="game-timer-reset-btn"
    >Reset Game Timer
    </button>
    <div class="play-timer" id="play-timer">
          <span class="play-timer-display"
                id="play-timer-display">{{ getPlayClockSeconds(data.match_data?.playclock!) }}</span>
    </div>
    <div class="displayed-play-time" id="displayed-play-time"></div>
    <button
      class="play-timer-reset-btn"
    >Reset Play Timer
    </button>
    <button
      class="play-timer-40-btn"
    >Start 40
    </button>
    <button
      class="play-timer-25-btn"
    >Start 25
    </button>
  </div>
</div>
<app-toggle-visible-button
  [isVisible$]="timeFormsVisible$"
  [formName]="'timeForms'"
  [buttonText]="'Time Forms'">
</app-toggle-visible-button>
