<div class="input-number-with-buttons">
  <tui-input-number
    [tuiTextfieldSize]="size"
    class="input-number"
    [formControl]="control"
    [tuiTextfieldCleaner]="true"
    [min]="min"
    [max]="max"
    (tuiValueChanges)="onValueChange($event)"
  >
    {{ label | uppercase }}
    <input name="{{ label | uppercase }}" tuiTextfieldLegacy/>
  </tui-input-number>
  <button
    appearance="icon"
    [iconStart]="'@tui.circle-plus'"
    tuiIconButton
    class="increment-button"
    [size]="'s'"
    (click)="increment(plusOne)"
    [disabled]="control.disabled"
  >
  </button>
  <button
    appearance="icon"
    [iconStart]="'@tui.circle-minus'"
    tuiIconButton
    class="decrement-button"
    [size]="'s'"
    (click)="increment(minusOne)"
    [disabled]="control.disabled"
  >
  </button>
</div>
