@if (currentTeam$ | async; as team) {
  <div class="tournament content__title">

    <h3 class="tui-text_h3">
      {{ team.title | uppercase }}
    </h3>
    <p>
      <!--    <p [style.background-color]="team.team_color">-->
      <!--      url: {{ staticUrl }}<br>-->
      <!--      port: {{ staticPort }}<br>-->
      <!--      team url: {{ team.team_logo_url }}<br>-->
      <!--      url without port: {{ url }}<br>-->
      <!--      full url with port: {{ urlWithPort }}<br>-->

      <img
        src="{{url}}{{team.team_logo_web_url}}"
        width="100px"
        height="100px"
        alt="{{team.title | uppercase}} Logo"
        (error)="onImgError($event)"
      ></p>

    @if (currentTeamMainSponsor$ | async; as sponsor) {
      <p style="text-align: center">Main Sponsor</p>
      <!--      <p style="text-align: center">{{ sponsor.title }}</p>-->
      <p style="text-align: center">
        <img
          src="{{url}}{{sponsor.logo_url}}"
          width="200px"
          alt="{{sponsor.title | uppercase}} Logo"
        >
      </p>
    }
    @if (sponsorLine$ | async; as sponsorLine) {
      <div class="tournament_sponsor_line">
        <app-sponsor-line
          [sponsorLine]="sponsorLine"
        ></app-sponsor-line>
      </div>
    }

    <p class="content__title_description">{{ team.city }}</p>

  </div>

  <div class="tournament content__body">
    <div class="one_col_container">
      <div class="tournament content__body__title__flex">

        <app-body-list-title
          titleMany='players'
        ></app-body-list-title>

        <app-edit-button
          [action]="'edit'"
          [item]="'Team'"
          [dialogId]="'editDialog'"
        ></app-edit-button>

        <app-add-edit-team
          [action]="'edit'"
          [dialogId]="'editDialog'"
          [new_team]="team"
          [allSponsors]="allSponsors$ | async"
          [allSponsorLines]="allSponsorLines$ | async"
        ></app-add-edit-team>

        <app-delete-button
          [item]="buttonTitle"
          [dialogId]="'deleteDialog'"
        ></app-delete-button>
        <app-delete-dialog
          [item]="buttonTitle"
          (delete)="onDelete()"
          [dialogId]="'deleteDialog'"
        ></app-delete-dialog>
      </div>
      @if (sport$ | async; as sport) {
        @if (allPlayersInTeamTournamentFullData$ | async; as players) {
          @if (currentTournament$ | async; as tournament) {
            @if (allSportPlayersWithPerson$ | async; as playersInSport) {
              @if (allAvailablePlayersInSport$| async; as availablePlayers) {
                <app-add-edit-player-to-team-tournament-table
                  [sportId]='sport.id!'
                  [teamId]="team.id!"
                  [tournamentId]="tournament.id!"
                  [playersInSport]="playersInSport"
                  [availablePlayersInSport]="availablePlayers"
                  [players]="players"
                  [positions]="allSportPositions$ | async"
                ></app-add-edit-player-to-team-tournament-table>
              }
            }
          }
          <!--        @for (p of players; track p.playerInTeamTournament.id) {-->
            <!--          <p>{{ p.person.first_name }} {{ p.person.second_name }}</p>-->
            <!--        }-->
        }
      }

    </div>
  </div>
} @else {
  <tui-loader></tui-loader>
}
