@if (currentTeam$ | async; as team) {
  <div class="tournament content__title">

    <h3 class="tui-text_h3">
      {{ team.title | uppercase }}
    </h3>
    <p>
      {{ staticUrl }}{{ staticPort }}{{ team.team_logo_url }}
      {{ urlWithPort }}
      <img
        src="{{staticUrl}}{{staticPort}}{{team.team_logo_url}}"
        (error)="onImgError($event)"
        width="100px"
        height="100px"
        alt="{{team.title | uppercase}} Logo"
      ></p>
    <p class="content__title_description">{{ team.city }}</p>

  </div>

  <div class="tournament content__body">
    <div class="one_col_container">
      <div class="tournament content__body__title__flex">

        <h3>Players List</h3>

        <app-delete-dialog
          [item]="'Team'"
          (delete)="onDelete()"
        ></app-delete-dialog>
      </div>
    </div>
  </div>
} @else {
  <tui-loader></tui-loader>
}
