@if (players) {
  <div class="list-of-items-with-data">
    @for (p of players; track p.player.id) {
      <div class="item-with-data-island">
        <button
          tuiCardLarge
          tuiCell
          tuiSurface="floating"
          type="button"
          style="width: 100%"
          (click)="navigate(p.player)"
        >
          <tui-avatar
            appearance="primary"
            [src]="backendUrl + p.person?.person_photo_icon_url"
          />
          <div tuiTitle>
            <h3>
              {{ p.person?.first_name | titlecase }}
              {{ p.person?.second_name | titlecase }}
            </h3>
          </div>
        </button>
      </div>
    } @empty {
      No Players Found
    }
  </div>
} @else {
  <tui-loader />
}
