<ng-template
  let-observer
  [tuiDialogOptions]="{label: action.toUpperCase() + ' ' + item.toUpperCase() + '?', size: 'm'}"
  [(tuiDialog)]="open"
>
  <div class="tui-form__row flex__fullwidth_center">
    <form
      [formGroup]="itemDeleteForm"
      (ngSubmit)="onSubmit(); observer.complete()"
    >
      <p style="text-align: center; padding:10px; background-color: var(--tui-negative-hover)">
        All {{ item | uppercase }}'s stats will be lost!
      </p>
      <p style="text-align: center; padding:10px;">
        <tui-checkbox-labeled
          formControlName="checkboxToAction"
          size="l"
        >
          I have read understood and confirm my agreement.
        </tui-checkbox-labeled>
      </p>
      <p>
        <app-delete-button-in-form
          [action]="action"
          [disabled]="!itemDeleteForm.get('checkboxToAction')?.value"
        ></app-delete-button-in-form>
        <app-cancel-button-in-form
          (click)="observer.complete()"
        ></app-cancel-button-in-form>
      </p>
    </form>
  </div>
</ng-template>
