<div
  tuiDropdownOpen
  [tuiDropdown]="content"
  class="hosted__list"
  tuiDropdownLimitWidth="fixed"
>
  <a tuiButton type="button" size="m" class="btn__list">
    {{ title }}
  </a>
</div>
<ng-template #content>
  @if (dataList | async; as data) {
    <tui-data-list role="menu" class="data__list">
      @for (item of data; track item.id) {
        <tui-opt-group>
          <a
            #rla="routerLinkActive"
            role="menuitemradio"
            routerLinkActive
            tuiOption
            [attr.aria-checked]="rla.isActive"
            [routerLink]="mapItemToRoute(item)"
            class="item__data__list"
            (click)="closeDropdown()"
          >
            {{ mapItemToLabel(item) }}
            @if (rla.isActive) {
              <tui-icon icon="@tui.check"></tui-icon>
            }
          </a>
        </tui-opt-group>
      } @empty {
        <tui-loader [inheritColor]="true"></tui-loader>
      }
    </tui-data-list>
  }
</ng-template>
