<div class="start-roster-line">
  @if (selectedQbWr['wrOne']) {
    <div class="startWR">
      <app-player-card-roster
        [player]="selectedQbWr['wrOne']"
      ></app-player-card-roster>
    </div>
  }
  @if (!selectedQbWr['wrOne']) {
    <div
      class="startWR"
      style="width: 270px"
    ></div>
  }
  @if (selectedQbWr['slotOne']) {
    <div class="startSlot">
      <app-player-card-roster
        [player]="selectedQbWr['slotOne']"
      ></app-player-card-roster>
    </div>
  }
  @if (!selectedQbWr['slotOne']) {
    <div
      class="startSlot"
      style="width: 270px"
    ></div>
  }

  <div class="startQB-center">
    @if (selectedQbWr['qb']) {
      <div class="startQB">
        <app-player-card-roster
          [player]="selectedQbWr['qb']"
        ></app-player-card-roster>
      </div>
    }
  </div>

  @if (selectedQbWr['slotTwo']) {
    <div class="startSlot">
      <app-player-card-roster
        [player]="selectedQbWr['slotTwo']"
      ></app-player-card-roster>
    </div>
  }
  @if (!selectedQbWr['slotTwo']) {
    <div
      class="startSlot"
      style="width: 270px"
    ></div>
  }
  @if (selectedQbWr['wrTwo']) {
    <div class="startWR">
      <app-player-card-roster
        [player]="selectedQbWr['wrTwo']"
      ></app-player-card-roster>
    </div>
  }
  @if (!selectedQbWr['wrTwo']) {
    <div
      class="startWR"
      style="width: 270px"
    ></div>
  }
</div>
