<app-toggle-visible-button
  [isVisible$]="eventsFormsVisible$"
  [formName]="'eventsForms'"
  [buttonText]="'Events Forms'"
>
</app-toggle-visible-button>
<div
  *ngIf="eventsFormsVisible$ | async"
  class="event-forms"
>
  <p>
    @if (data && data.match_id) {
      <form
        class="field-form"
        [formGroup]="fieldForm"
      >
        <tui-input-number
          class="field-form-input"
          formControlName="fieldLength"
        >FIELD LENGTH: EVEN NUMBERS ONLY
        </tui-input-number>
        <tui-error
          formControlName="fieldLength"
          [error]="[] | tuiFieldError | async"
        ></tui-error>
        <app-admin-submit-button
          [disabled]="disabled"
          (click)="updateFieldLength(data.match_data!)"
        ></app-admin-submit-button>
      </form>

      <app-add-edit-football-event-table
        [events]="events"
        [match]="data"
        [homePlayersInMatch]="homePlayersInMatch"
        [awayPlayersInMatch]="awayPlayersInMatch"
      ></app-add-edit-football-event-table>
    }
  </p>
</div>
