<app-toggle-visible-button
  [isVisible$]="eventsFormsVisible$"
  [formName]="'eventsForms'"
  [buttonText]="'Events Forms'"
>
</app-toggle-visible-button>
<div
  *ngIf="eventsFormsVisible$ | async"
  class="event-forms"
>
  <div style="display: grid; grid-template-columns: 50% 50%">
    <div>
      <p class="tui-text_h6">{{ data?.teams_data?.team_a?.title | uppercase }} STATS</p>
      <p>Offence Yards: {{ offenceDistanceForTeamA$ | async }}</p>
      <p>Run Yards: {{ runDistanceForTeamA$ | async }}</p>
      <p>Pass Yards: {{ passDistanceForTeamA$ | async }}</p>
      <p>Flag Yards: {{ flagYardsTeamA$ | async }}</p>
      @if (allQuarterbacksTeamA$ | async; as qbs) {
        @for (qb of qbs; track qb.match_player.id) {
          <p>
            QB:
            #{{ qb.match_player.match_number }}
            {{ qb.person?.first_name | titlecase }}
            {{ qb.person?.second_name | titlecase }}
            (PASS ATT: {{ qb.qb_stats?.passes }}/{{ qb.qb_stats?.passes_completed }},
            PASS YDS: {{ qb.qb_stats?.pass_yards }},
            PASS%: @if (qb.qb_stats?.passes_completed && qb.qb_stats?.passes) {
            {{ qb.qb_stats!.passes_completed / qb.qb_stats!.passes * 100 | number:'1.0-1' }},
          } @else {
            0,
          }
            RUN ATT: {{ qb.qb_stats?.run_attempts }},
            RUN YDS: {{ qb.qb_stats?.run_yards }},
            AVG RUN YDS:
            @if (qb.qb_stats?.run_attempts && qb.qb_stats?.run_yards) {
              {{ qb.qb_stats!.run_yards / qb.qb_stats!.run_attempts | number:'1.0-1' }},
            } @else {
              0,
            })
          </p>
        }
      }
      @if (allOffenceTeamA$ | async; as offence) {
        @for (player of offence; track player.match_player.id) {
          <p>
            {{ player.position?.title | uppercase }}:
            #{{ player.match_player.match_number }}
            {{ player.person?.first_name | titlecase }}
            {{ player.person?.second_name | titlecase }}
            (PASS ATT: {{ player.off_stats?.pass_attempts }}/{{ player.off_stats?.pass_received }},
            PASS YDS: {{ player.off_stats?.pass_yards }},
            PASS TD: {{ player.off_stats?.pass_td }},
            RUN ATT: {{ player.off_stats?.run_attempts }},
            RUN YDS: {{ player.off_stats?.run_yards }},
            AVG RUN YDS:
            @if (player.off_stats?.run_attempts && player.off_stats?.run_yards) {
              {{ player.off_stats!.run_yards / player.off_stats!.run_attempts | number:'1.0-1' }},
            } @else {
              0,
            }
            RUN TD: {{ player.off_stats?.run_td }},
            TD: {{ (player.off_stats?.pass_td ?? 0) + (player.off_stats?.run_td ?? 0) }})
          </p>
        }
      }
    </div>
    <div>
      <p class="tui-text_h6">{{ data?.teams_data?.team_b?.title | uppercase }} STATS</p>
      <p>Offence Yards: {{ offenceDistanceForTeamB$ | async }}</p>
      <p>Run Yards: {{ runDistanceForTeamB$ | async }}</p>
      <p>Pass Yards: {{ passDistanceForTeamB$ | async }}</p>
      <p>Flag Yards: {{ flagYardsTeamB$ | async }}</p>
    </div>

  </div>
  <p>
    @if (data && data.match_id) {
      <form
        class="field-form"
        [formGroup]="fieldForm"
      >
        @if (getFormControl(fieldForm, 'fieldLength'); as control) {
          <app-simple-input-with-buttons
            [label]="'Field Length'"
            [control]="control"
            [max]="120"
            [min]="50"
            [isCycle]="true"
            [cleaner]="false"
          ></app-simple-input-with-buttons>
          <app-admin-submit-button
            [disabled]="disabled"
            (click)="updateFieldLength(data.match_data!)"
          ></app-admin-submit-button>
        }
      </form>

      <app-add-edit-football-event-table
        [events]="events"
        [match]="data"
        [homePlayersInMatch]="homePlayersInMatch"
        [awayPlayersInMatch]="awayPlayersInMatch"
      ></app-add-edit-football-event-table>
    }
  </p>
</div>
