@if (matchPlayers; as players) {
  @if (players.length > 0) {
    <!--    @for (p of players; track $index) {-->
    <!--    }-->
    <div
      style="padding: 10px"
    >
      <tui-select
        [tuiDropdownLimitWidth]="'min'"
        style="padding-top: 10px"
        [formControl]="control"
        [class]="{'highlighted-selector': isSelectedPlayerInMatch(selectedPlayer?.match_player?.id)}"
      >
        <tui-data-list *tuiDataList>
          @for (playerInMatch of players;
            track playerInMatch.match_player?.id) {

            <button
              tuiOption
              [class]="{'highlighted-option': playerInMatch.match_player.id! === selectedPlayer?.match_player?.id}"
              [value]="playerInMatch"
              (click)="
              onSelect(playerInMatch)
            "
            >
              <b>{{ playerInMatch.match_player.id! === selectedPlayer?.match_player?.id ? 'SELECTED' : '' }} &nbsp;</b>
              <b>{{ playerInMatch.match_player.match_number }}</b> &nbsp;
              {{ playerInMatch.person?.second_name | titlecase }}
              {{ playerInMatch.person?.first_name | titlecase }}
            </button>
          }
        </tui-data-list>
      </tui-select>
    </div>
  } @else {
    <tui-select
      [formControl]="control"
      [tuiDropdownLimitWidth]="'min'"
      style="padding-top: 10px"
    >
      <tui-data-list *tuiDataList>
        <button tuiOption>NO PLAYERS IN TEAM ROSTER</button>
      </tui-data-list>
    </tui-select>
  }
}
