<div class="tui-form__row">
  <form [formGroup]="form">
    <tui-combo-box
      formControlName="person"
    >
      {{ 'search ' | uppercase }} {{ placeholder | uppercase }}
      <tui-data-list-wrapper
        *tuiDataList
        [itemContent]="stringifySurnameName | tuiStringifyContent"
        [items]="persons | tuiFilterByInput: matcherString"
        (itemClick)="onSelected($event)"
      ></tui-data-list-wrapper>
    </tui-combo-box>
    <!--    <tui-input-->
    <!--      *tuiLet="persons"-->
    <!--      class="b-form"-->
    <!--      formControlName="searchValue"-->
    <!--      [tuiTextfieldCustomContent]="stringifyNameSurname"-->
    <!--      [tuiTextfieldIcon]="'tuiIconSearchLarge'"-->
    <!--      [tuiTextfieldCleaner]="true"-->
    <!--    >-->
    <!--      {{ 'search person' | uppercase }}-->
    <!--      <ng-container *ngIf="persons?.length">-->
    <!--        <tui-data-list *tuiDataList>-->
    <!--          <button-->
    <!--            *ngFor="let person of persons"-->
    <!--            tuiOption-->
    <!--            [value]="(person.first_name.toString() + ' ' + person.second_name.toString() | titlecase)"-->
    <!--            (click)="onSelected(person)"-->
    <!--          >-->
    <!--            <span class="name">-->
    <!--              {{ person.first_name | titlecase }}-->
    <!--              {{ person.second_name | titlecase }}-->
    <!--            </span>-->
    <!--            <tui-avatar-->
    <!--              size="xs"-->
    <!--              class="avatar"-->
    <!--              [avatarUrl]="backendUrl + person.person_photo_icon_url || null"-->
    <!--              [text]="person.second_name.toString()"-->
    <!--            ></tui-avatar>-->
    <!--          </button>-->
    <!--        </tui-data-list>-->
    <!--      </ng-container>-->
    <!--    </tui-input>-->
  </form>
</div>

