<div class="start-roster-line">
  <div class="startCBS" *ngIf="selectedDB['cbs']">
    <app-player-card-roster
      [player]="selectedDB['cbs']"
    ></app-player-card-roster>
  </div>
  <div class="startSS" *ngIf="selectedDB['ss']">
    <app-player-card-roster
      [player]="selectedDB['ss']"
    ></app-player-card-roster>
  </div>
  <div class="startFS" *ngIf="selectedDB['fs']">
    <app-player-card-roster
      [player]="selectedDB['fs']"
    ></app-player-card-roster>
  </div>
  <div class="startCBW" *ngIf="selectedDB['cbw']">
    <app-player-card-roster
      [player]="selectedDB['cbw']"
    ></app-player-card-roster>
  </div>
</div>
