<div class="start-roster-line">
  @if (selectedDB['cbs']) {
    <div class="startCBS">
      <app-player-card-roster
        [player]="selectedDB['cbs']"
      ></app-player-card-roster>
    </div>
  }
  @if (selectedDB['ss']) {
    <div class="startSS">
      <app-player-card-roster
        [player]="selectedDB['ss']"
      ></app-player-card-roster>
    </div>
  }
  @if (selectedDB['fs']) {
    <div class="startFS">
      <app-player-card-roster
        [player]="selectedDB['fs']"
      ></app-player-card-roster>
    </div>
  }
  @if (selectedDB['cbw']) {
    <div class="startCBW">
      <app-player-card-roster
        [player]="selectedDB['cbw']"
      ></app-player-card-roster>
    </div>
  }
</div>
