@if (sport$ | async; as sport) {
  <div class="sport content__title">
    <h3 class="tui-text_h3">{{ sport.title | uppercase }}</h3>
  </div>

  <div class="tournament content__body">
    <div class="one_col_container">
      <div class="tournament content__body__title__flex">
        <div class="content__body__title__flex">
          <h2>LIST OF TEAMS</h2>
        </div>
        <app-edit-button
          [action]="'add'"
          [item]="'Team'"
          [dialogId]="'addDialog'"
        ></app-edit-button>

        <app-add-edit-team
          [action]="'add'"
          [dialogId]="'addDialog'"
          [allSponsors]="allSponsors$ | async"
          [allSponsorLines]="allSponsorLines$ | async"
        ></app-add-edit-team>
      </div>

      <app-base-search-form
        [placeholder]="'Team title'"
        (search)="onSearch($event)"
      ></app-base-search-form>

      @if (totalTeamInSportSearchPages$ | async; as totalPages) {
        @if (currentPage$ | async; as currentPage) {
          <app-base-pagination
            [currentPage]="currentPage"
            [totalPages]="totalPages"
            (pageChange)="setCurrentPage($event)"
            (pageSizeChange)="changePageSize($event)"
          ></app-base-pagination>
        }
      }

      @if (paginatedTeamInSportSearchResults$ | async; as teams) {
        <app-list-of-teams
          [sportId]="sport.id!"
          [teams]="teams"
          [formatPath]="teamItemHref"
          [titleProperty]="islandTeamTitleProperty"
        ></app-list-of-teams>
      } @else {
        <tui-loader></tui-loader>
      }
    </div>
  </div>
} @else {
  <tui-loader></tui-loader>
}
