<div class="start-roster-line">
  @if (selectedLB['s']) {
    <div class="startW">
      <app-player-card-roster [player]="selectedLB['s']"></app-player-card-roster>
    </div>
  }
  @if (selectedLB['mlb']) {
    <div class="startMLB">
      <app-player-card-roster
        [player]="selectedLB['mlb']"
      ></app-player-card-roster>
    </div>
  }
  @if (selectedLB['mlbTwo']) {
    <div class="startMLBTwo">
      <app-player-card-roster
        [player]="selectedLB['mlbTwo']"
      ></app-player-card-roster>
    </div>
  }
  @if (selectedLB['w']) {
    <div class="startW">
      <app-player-card-roster [player]="selectedLB['w']"></app-player-card-roster>
    </div>
  }
</div>
