@if (qbs) {
  @for (qb of qbs; track qb.match_player.id) {
    <p>
      QB:
      #{{ qb.match_player.match_number }}
      {{ qb.person?.first_name | titlecase }}
      {{ qb.person?.second_name | titlecase }}
      <br>
      (PASS ATT: {{ qb.qb_stats?.passes }}/{{ qb.qb_stats?.passes_completed }},
      PASS YDS: {{ qb.qb_stats?.pass_yards }},
      PASS%: {{ qb.qb_stats?.pass_avr + '%' }},
      PASS TD THROWN: {{ qb.qb_stats?.pass_td }},
      <br>
      RUN ATT: {{ qb.qb_stats?.run_attempts }},
      RUN YDS: {{ qb.qb_stats?.run_yards }},
      AVG RUN YDS: {{ qb.qb_stats?.run_avr }},
      RUN TD: {{ qb.qb_stats?.run_td }},
      INT: {{ qb.qb_stats?.interception }},
      FUMBLE: {{ qb.qb_stats?.fumble }},
      QB RATING: {{ qb.qb_stats?.qb_rating }})
    </p>
  }
}
