@if (qbs) {
  @for (qb of qbs; track qb.match_player.id) {
    <p>
      QB:
      #{{ qb.match_player.match_number }}
      {{ qb.person?.first_name | titlecase }}
      {{ qb.person?.second_name | titlecase }}
      <br>
      (PASS ATT: {{ qb.qb_stats?.passes }}/{{ qb.qb_stats?.passes_completed }},
      PASS YDS: {{ qb.qb_stats?.pass_yards }},
      PASS%: @if (qb.qb_stats?.passes_completed && qb.qb_stats?.passes) {
      {{ qb.qb_stats!.passes_completed / qb.qb_stats!.passes * 100 | number:'1.0-1' }},
    } @else {
      0,
    }
      <br>
      RUN ATT: {{ qb.qb_stats?.run_attempts }},
      RUN YDS: {{ qb.qb_stats?.run_yards }},
      AVG RUN YDS:
      @if (qb.qb_stats?.run_attempts && qb.qb_stats?.run_yards) {
        {{ qb.qb_stats!.run_yards / qb.qb_stats!.run_attempts | number:'1.0-1' }},
      } @else {
        0,
      }
    </p>
  }
}
