<!--<button-->
<!--  appearance="create"-->
<!--  size="m"-->
<!--  tuiButton-->
<!--  type="button"-->
<!--  (click)="showDialog()"-->
<!--&gt;-->
<!--  NEW MATCH-->
<!--</button>-->

<ng-template
  let-observer
  [tuiDialogOptions]="{label: action.toUpperCase() + ' MATCH', size: 'm'}"
  [(tuiDialog)]="open"
>
  <form
    [formGroup]="matchForm"
    (ngSubmit)="onSubmit(); observer.complete()"
  >
    <p></p>
    <div class="tui-form__row">
      <tui-input-date-time
        formControlName="match_date"
        tuiAutoFocus
      >
        Match Date
        <span class="tui-required"></span>
      </tui-input-date-time>
      <tui-error
        formControlName="match_date"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    <div class="tui-form__row">
      <tui-input-number
        formControlName="week"
      >
        Match Week
      </tui-input-number>
      <tui-error
        formControlName="week"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    @if (teams) {
      <div class="tui-form__row" style="display: flex; justify-content: center;">

        <tui-select
          *tuiLet="teams"
          class="b-form"
          formControlName="team_a"
          style="padding-left: 10px; padding-right: 10px;"
        >
          Select HOME team
          <tui-data-list-wrapper
            *tuiDataList
            size="l"
            [itemContent]="content"
            [items]="teams"
          ></tui-data-list-wrapper>

        </tui-select>

        <ng-template
          #content
          let-data
        >
          <div class="template">

            <div>{{ data.title }}</div>
          </div>
        </ng-template>

        <tui-select
          *tuiLet="teams"
          class="b-form"
          formControlName="team_b"
          style="padding-left: 10px; padding-right: 10px;"
        >
          Select AWAY team
          <tui-data-list-wrapper
            *tuiDataList
            size="l"
            [itemContent]="content"
            [items]="teams"
          ></tui-data-list-wrapper>
        </tui-select>
      </div>
    }

    <div class="tui-form__row">
      <tui-input-number
        formControlName="match_eesl_id"
      >
        Match EESL ID
      </tui-input-number>
      <tui-error
        formControlName="match_eesl_id"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__row">
      <p>
        <app-create-button-in-form
          [action]="action"
          [disabled]="!matchForm.valid"
        ></app-create-button-in-form>
        <app-cancel-button-in-form
          (click)="observer.complete()"
        ></app-cancel-button-in-form>
      </p>
    </div>
  </form>
</ng-template>
