@import "@taiga-ui/core/styles/taiga-ui-local.less";
@import "@taiga-ui/styles/taiga-ui-global";
@import "fonts.css";

router-outlet {
  display: none;
}

html {
  margin: 0;
}

body {
  margin: 0;
  //min-height: 100%;
  //display: grid;
  //grid-template-rows: 100%;
  //grid-template-columns: 100%;

  font: var(--tui-font-text-m);
  //background-color: var(--tui-background-accent-opposite-pressed);
  color: var(--tui-text-primary-on-accent-1);

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

.super_main_container {
  display: grid;
  background-color: var(--tui-background-base-alt);
  // background-color: var(--tui-text-secondary);
}

.main_container {
  min-height: 100%;
  display: grid;
  background-color: var(--tui-background-base-alt);
}

header {
  background-color: var(--tui-background-accent-opposite-hover);
  color: var(--tui-text-primary-on-accent-1);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-content: stretch;
  padding: 10px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px; // Adjust the gap size as needed
}

main {
  background-color: var(--tui-background-neutral-2-pressed);
  //height: 100%;
}

tui-root {
  font-size: 20px;
}

// aside {
//   display: flex;
//   //padding: 20px;
//   flex-direction: column;
//   //justify-content: stretch;
//   //align-items: stretch;
//   align-content: space-evenly;
//   //background-color:  var(--tui-background-accent-opposite);
//   //min-height: 100%;
//   min-width: 100%;
//   //color: var(--tui-background-base-alt);
// }
//
// aside > * {
//   margin-bottom: 20px;
//   // gap between objects in aside
// }

.container {
  //height: 100%;
  //padding: 20px;
  display: grid;
  grid-template-columns: auto;
  justify-content: stretch;
  //background-color: aqua;
}

.content {
  //height: 100%;
  display: grid;
  align-items: start;
  //grid-template-rows: 10% 90%;
  padding: 10px;
  //background-color: red;
}

.with__aside {
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: 80% auto;
  padding: 10px;
  //background-color: red;
}

.content__title {
  //font-size: 30px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  background-color: var(--tui-status-positive-pale-hover);
// TOD: night variables have been removed. Use tuiTheme="dark" on an element to switch colors to dark theme
}

.title-header-with-logo {
  padding: 10px;
  display: flex;
  justify-self: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.content__title_description {
  //font-size: 30px;
  display: grid;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
// TOD: night variables have been removed. Use tuiTheme="dark" on an element to switch colors to dark theme
// TOD: night variables have been removed. Use tuiTheme="dark" on an element to switch colors to dark theme
  //background-color: var(--tui-status-positive-pale-hover);
}

.content__body__title {
  display: grid;
  grid-template-columns: 60% 22%;
  align-items: center;
  justify-content: space-evenly;
}

.content__body__title__flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.content__body__title__flex > *:first-child {
  margin-right: auto;
}

.content__body__title__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__body {
  //height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 100%;
  //flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: var(--tui-border-normal);
}

.one_col_container {
  display: grid;
  grid-template-columns: 100%;
  min-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.two_col_container_tournament {
  display: grid;
  grid-template-columns: 60% auto;
  min-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.two_col_container_match {
  display: grid;
  grid-template-columns: 50% 50%;
  min-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.one_row_container {
  display: flex;
  flex-direction: row;
  padding: 15px;
  gap: 10px;
  min-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.list-of-items-with-data * {
  margin-bottom: 15px;
}

.list-of-items-with-data {
  padding: 10px;
}

.fullwidth_center() {
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

.block__fullwidth_center {
  display: block;
  .fullwidth_center();
}

.flex__fullwidth_center {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  .fullwidth_center();
}

.grid__fullwidth_center {
  display: grid;
  .fullwidth_center();
}

// This goes into global, non-encapsulated styles
// [tuiWrapper][data-appearance="create"] {
.create {
// TOD: night variables have been removed. Use tuiTheme="dark" on an element to switch colors to dark theme
// TOD: night variables have been removed. Use tuiTheme="dark" on an element to switch colors to dark theme

  background: var(--tui-status-positive);
  color: #fff;

  .wrapper-hover({
    background: var(--tui-text-positive-hover);
  });

  .wrapper-active({
    background: var(--tui-text-positive-hover);
  });

  .wrapper-disabled({
    background: var(--tui-background-accent-opposite-pressed);
  });
}

// This goes into global, non-encapsulated styles
// [tuiWrapper][data-appearance="submit-admin"] {
.submit-admin {
  background: #b6d0c0;
  color: #282828;

  .wrapper-hover({
    background: var(--tui-text-positive-hover);
  });

  .wrapper-active({
    background: var(--tui-text-positive-hover);
  });

  .wrapper-disabled({
    background: var(--tui-background-accent-opposite-pressed);
  });
}

// This goes into global, non-encapsulated styles
// [tuiWrapper][data-appearance="down-admin"] {
.down-admin {
  background: #e7e7e7;
  color: #282828;

  .wrapper-hover({
    background: var(--tui-text-positive-hover);
  });

  .wrapper-active({
    background: var(--tui-text-positive-hover);
  });

  .wrapper-disabled({
    background: var(--tui-background-accent-opposite-pressed);
  });
}

@media screen and (max-width: 600px) {
  .container,
  .content__body__title,
  .with__aside,
  .main_container,
  .super_main_container {
    grid-template-columns: 100%;
    justify-content: stretch;
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .two_col_container_tournament {
    grid-template-columns: auto;
  }

  .two_col_container_match {
    grid-template-columns: auto;
  }
}

.add-new-button {
  padding: 10px;
  width: 100%;
}
