<div
  class="content__body__title"
>
  <h2>LIST OF TEAMS</h2>
  <div>
    <a
      appearance="create"
      size="m"
      href=""
      tuiButton
      type="button"
      class="btn__create"
    >
    NEW TEAM
    </a>
  </div>
</div>

<app-form-search-text
  [data$]="teams$"
  [searchTitle]="'team name'"
  [parameter]="'title'"
></app-form-search-text>

<app-list-of-items-island
  [data$]="paginationService.paginatedItems$"
  [formatPath]="formatPath"
  [titleProperty]="titleProperty">
</app-list-of-items-island>

@if (teams$ | async; as teams) {
  @if (teams.length > paginationService.itemsPerPage.value){
    @if (paginationService.totalPages$ | async; as totalPages) {
      <div class="pagination flex__fullwidth_center">
        <tui-pagination
          [index]="paginationService.currentPageIndex.value - 1"
          [length]="totalPages"
          (indexChange)="paginationService.setPage($event + 1)"
        ></tui-pagination>
      </div>
    }
  }
}


<!--@if (teams$ | async; as teams) {-->
<!--  @if (teams.length > itemsPerPage){-->
<!--    <div class="pagination flex__fullwidth_center">-->
<!--      <tui-pagination-->
<!--        [index]="currentPageIndex.value - 1"-->
<!--        [length]="totalPages"-->
<!--        (indexChange)="setPage($event + 1)"-->
<!--      ></tui-pagination>-->
<!--    </div>-->
<!--  }-->

<!--  <app-form-search-text-->
<!--    [data$]="teams$"-->
<!--    [searchTitle]="'team name'"-->
<!--    [parameter]="'title'"-->
<!--  ></app-form-search-text>-->

<!--  <app-list-of-items-island-->
<!--    [data$]="paginatedTeams$"-->
<!--    [formatPath]="formatPath"-->
<!--    [titleProperty]="titleProperty">-->
<!--  </app-list-of-items-island>-->
<!--}-->


<!--  [data$]="teams$ | slice: (currentPageIndex - 1) * itemsPerPage : currentPageIndex * itemsPerPage"-->

    <!--  <app-form-search-auto-complete-->
  <!--    [data$]="teams$"-->
  <!--    [searchTitle]="'team name'"-->
  <!--    [stringify]="stringifyFunc"-->
  <!--    [searchMatcher]="matcherFunc"-->
  <!--  ></app-form-search-auto-complete>-->

