<div
  class="content__body__title__flex"
>
  <h2>LIST OF TEAMS</h2>
  @if (this.sportId) {
    <div>
      <a
        appearance="create"
        size="m"
        href=""
        tuiButton
        type="button"
        class="btn__create"
      >
        NEW TEAM
      </a>
    </div>
  } @else {
    <tui-loader></tui-loader>
  }
</div>

<app-pagination-with-items-per-page
  [items$]="teams$"
>
</app-pagination-with-items-per-page>

<app-form-search-text
  [data$]="teams$"
  [searchTitle]="'team name'"
  [parameter]="'title'"
></app-form-search-text>

@if (teams$ | async) {
  <app-list-of-teams-small
    [teams$]="paginationService.paginatedItems$"
    [formatPath]="formatPath"
    [titleProperty]="titleProperty"
    [_size]="'l'"
  ></app-list-of-teams-small>
  <!--  <app-list-of-items-island-->
    <!--    [data$]="paginationService.paginatedItems$"-->
    <!--    [formatPath]="formatPath"-->
    <!--    [titleProperty]="titleProperty">-->
    <!--  </app-list-of-items-island>-->
} @else {
  <tui-loader [inheritColor]="true"></tui-loader>
}

