<div class="start-roster-line">
  @if (selectedOL['lt']) {
    <div class="startLT">
      <app-player-card-roster
        [player]="selectedOL['lt']"
      ></app-player-card-roster>
    </div>
  }
  @if (selectedOL['lg']) {
    <div class="startLG">
      <app-player-card-roster
        [player]="selectedOL['lg']"
      ></app-player-card-roster>
    </div>
  }
  @if (selectedOL['c']) {
    <div class="startOC">
      <app-player-card-roster [player]="selectedOL['c']"></app-player-card-roster>
    </div>
  }
  @if (selectedOL['rg']) {
    <div class="startRG">
      <app-player-card-roster
        [player]="selectedOL['rg']"
      ></app-player-card-roster>
    </div>
  }
  @if (selectedOL['rt']) {
    <div class="startRT">
      <app-player-card-roster
        [player]="selectedOL['rt']"
      ></app-player-card-roster>
    </div>
  }
</div>
